div#footer_container {
	div#footer {
		div.footerLeft {
			div.links {
				div.topFooterLinks {
					display: inline-block;
				}
				
				div.bottomFooterLinks {
					display: inline-block;
				}
				
				a {
					z-index: 4;
					position: relative;
				}
			}
		}
	}
}