div.postMeta {
   	float: none;
    width: auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #706d6d;
    letter-spacing: -0.025em;
    line-height: 18px;
    margin: 0;
    padding: 0 0 10px 0;
    overflow: hidden;
    
	img {
   		margin: 0 3px 0 0;
   	}
   	
   	.tagLineItem {
   		display: inline-block;
   		padding-right: 5px;
   		
   		&:last-child:not(:empty) {
   			padding: 0 !important;
   			margin: 0 !important;
   		}
   	}
   	
   	.listingComments {
   		display: none !important;
   	}
}