@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div.testimonialsContainer {   
	    div.testimonial {	    
	   	    div.imageContainer {
		    	
		    	&.left {
		    	}
		    	&.right {
		    	}
		    }		    
		    div.name {
		    }		    
		    div.position {
		    }		    
		    div.text {		    	
		    }
	    }
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div.testimonialsContainer {  
	    div.testimonial {	    
	   	    div.imageContainer {
		    	max-width: 40%;
		    	height: auto !important;
		    	margin: 0px 12px 0px 0px !important; 
		    	
		    	&.left {
		    	}
		    	&.right {
		    		float: left !important;
		    	}
		    }		    
		    div.name {
		    }		    
		    div.position {
		    }		    
		    div.text {	
		    	overflow: visible !important;
		    }
	    }
	}
}