.aui-view-lt720 div#container{
	background: #000
}
.swipeOpenMenuDiv {
	display: none;
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	body {
		padding: 0;
	}
	.swipeOpenMenuDiv {
		display: block !important;
		width: 75px;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 3;
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	.btn {
		width: auto;
		display: initial;
	}
	div#template.hasLeftCol {
		.portlet-layout {
			display: inherit;
		}
	}
}