@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#featuredContent {
		div#content_area {
			padding: 0 20px;
			border-left: dotted 1px $darkerGrayLine;
			
			p {
				word-break: break-word !important;
			
				img {
					width: 100% !important;
					padding-right: 0;
					height: auto !important;
				}
				
				code {
					white-space: inherit !important;
				}
			}
		}
	}
	
	div#container {
		div#templateContainer {
			#column-3 {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#left {
		div#MightyMenu {
			div#blogs-home-link {
				display: none;	
			}
		}
	}
	
	div#featuredContent {
		div#content_area {
			border-left: none;
		}
	}
}