div.mobileNavigationDiv {
	display: none;
	
	a:hover {
		text-decoration: none;
	}
}

button.echelonButton {
	background: #483939;
    background: -moz-linear-gradient(top, #634e4e 0%, #483939);
    background: -webkit-gradient(linear, left top, left bottom, from(#634e4e), to(#483939));
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #7c6c6c;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(255, 255, 255, 0);
    height: 40px;
    cursor: pointer;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    vertical-align: top;
    padding: 0 18px;
    
    &:hover {
    	background: -webkit-gradient(linear, left top, left bottom, from(#483939), to(#634e4e));
    	color: white;
    }
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div.mobileNavigationDiv {
		display: block;
	}
}