@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#teamLanding {
		margin: 0;
		display: inline-block;
		text-align: left;
		
		div.teamMember {
			margin: 1%;
			display: inline-block;
			float: none;
			
			div.teamImage {
				a {
					img {
						max-width: 200px;
						max-height: 200px;
						width: auto;
						height: auto;
					}
				}
			}
			
			div.teamDesc {
				text-align: left;
				
				div.name {
					font-size: inherit;
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	h1.teamHeader {
		text-align: center !important;
	}
	
	div#teamLanding {
		text-align: center;
		
		div.teamMember {
			padding: 7px 0px;
			
			div.teamImage {
				a {
					img {
						max-width: 150px;
						max-height: 150px;
					}
				}
			}			
		}
	}
}