div#container {
	div#footer_container {
		background: url(../images/bg.jpg) 0 0 repeat;
		
		div#footer {
			padding: 0;
		}
	}
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#footer_container {
		div#footer {
			width: auto;
			padding: 0px 20px;
			
			div.footerLeft {
				width: auto;
				margin: 0;
				float: none;
				
				div.links {
					width: auto !important;
					
					div.topFooterLinks {
						margin: 0 0 10px 0;
					}
				}
				
				div#copyright {
					padding: 14px 0 14px;
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#footer_container {
		div#footer {
			div.footerLeft {	
				div.links {
					.delimiter {
						padding: 0 2px;
					}
				}
			}
		}
	}
}