@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#wrapper {
		min-width: 320px;
		overflow: hidden;
	
		div#container {
			width: auto;
			margin: 0;
			top: 0px;
			
			div#homeContainer {
				width: 100% !important;
				background: none;
				padding: 0 !important;
				top: 0px;
				
				div#home {
					width: 100%;
					margin: 0;
					
					div#content_area {
						width: auto;
						padding: 20px 0px 20px 20px;
						
						h1 {
							text-align: left;
						}
					}
					
					div#featured {
						width: auto;
						
						div.featuredElement {
							width: auto;
							margin: 0 20px;
						
							div.image {
								margin: 10px 0px 10px;
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#wrapper {
		div#container {
			div#homeContainer {
				div#home {
					div#content_area {
						border-bottom: 10px solid #e9e9e9;
						padding: 15px;
						
						p {
							line-height: 20px;
							&:empty {
								display: none;
							}
						}
					}
							
					div#featured {
						border: none;
						text-align: center;
						width: 100% !important;
						
						div.featuredElement {
							float: none;
							width: auto;
							margin: 0;
							border-bottom: 10px solid #e9e9e9;
							padding-top: 10px;
							padding: 20px 20px;
							text-align: left;
							
							&.last {
								border-bottom: none;
							}
							
							div.image {
								text-align: center;
								
								img {
									max-width: 100%;
							    	width: auto !important;
							    	height: auto !important;
							    	max-height: 150px;
								}
							}
						}
					}
				}
			}
		}
	}
}