@media screen and (min-width: 0px) and (max-width: $phoneWidthMidpoint) {
    body {
        font-size: 13px !important;
    }
}

@media screen and (min-width: $phoneWidthMidpoint) and (max-width: $phoneWidthUpperThreshold) {
    body {
        font-size: 14px !important;
    }
}

@media screen and (min-width: $phoneWidthUpperThreshold) and (max-width: $portraitTabletWidthUpperThreshold) {
    body {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	h1 { font-size: 2.0em !important; line-height: 1.25em !important }
	h2 { font-size: 1.8em !important; }
	h3 { font-size: 1.6em !important; }
	h4 { font-size: 1.4em !important; }
	h5 { font-size: 1.2em !important; }
	h6, h5 a, p, li { font-size: 1.0em !important; }
}