div.share {
	border-bottom: dotted 1px #d4d4d4;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #5a5a5a;
    text-transform: uppercase;
    margin: 19px 0;
    padding: 0 0 27px;
    
    span.shareButtons {
    	display: inline-block;
	    vertical-align: middle;
	    margin: 0;
	    
	    a {
	    	&:hover {
	    		text-decoration: none;
	    	}
	    	
	    	&:focus {
	    		text-decoration: none;
	    	}
	    }
    }
}