div.testimonialsContainer {
    
    div.testimonial {
    	margin-bottom: 60px;
	    border: 7px solid #d6d6d6;
	    padding: 20px 24px 20px 24px;
	    margin: 0px 0px 24px 0px;
	    
   	    div.imageContainer {
	    	height: 170px;
	    	width: 170px;
	    	background-size: contain;
	    	overflow: hidden;
	    	border-radius: 50%;
	    
	    	&.left {
	    		float: left;
	    		margin: 0px 24px 0px 0px;
	    	}
	    	&.right {
	    		float: right;
	    		margin: 0px 0px 0px 24px;
	    	}
	    }
	    
	    div.name {
	    	font-size: 1.25em;
	    	color: #038383;
	    	margin-bottom: 5px;
	    	overflow: hidden;
	    }
	    
	    div.position {
	    	font-size: 1em;
		    color: #333333;
		    font-weight: bold;
		    overflow: hidden;
	    }
	    
	    div.divider {
	    	border-top: 1px solid black;
		    margin: 5px 0px;
		    overflow: hidden;
	    }
	    
	    div.text {
	    	overflow: hidden;
	    
	    	p {
	    		margin: 0;
	    		line-height: 20px;
	    	}
	    }
    }
}