$FontAwesomePath: "aui/alloy-font-awesome/font" !default;

@import "aui/alloy-font-awesome/scss/variables";
@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/path-alloy";

.aui {
	@import "aui_variables";
	@import "variables_custom";

	$iconSpritePath: '../images/aui/glyphicons-halflings.png' !default;
	$iconWhiteSpritePath: '../images/aui/glyphicons-halflings-white.png' !default;

	@import "aui/bootstrap";
	@import "aui_custom";
	@import "aui/responsive";
	@import "liferay_custom";
	@import "icons";
	@import "metaTags";
	
	@import "mobileButtonRow";
	@import "mobileFooter";
	@import "mobileNavigation";
	@import "mobileFonts";
	@import "mobileHome";
	@import "mobileSlideshow";
	@import "mobile_custom";
	@import "mobile1-2Landing";
	@import "mobileTeamList";
	@import "mobileTeamProfile";
	@import "mobileCareerPage";
	@import "mobileContact";
	@import "mobileFeaturedContent";
	@import "mobileContentList";
	@import "mobileContentDetail";
	@import "mobileCommentHook";
	@import "mobileTestimonials";
	@import "contentList";
	@import "contentDetail";
	@import "commentHook";
	@import "echelonHeader";
	@import "shareButtonLine";
	@import "sideBarSiteMap";
	@import "teamList";
	@import "navigation";
	@import "pageLandingContent";
	@import "customColumn1-1";
	@import "careerPostings";
	@import "footer";
	@import "testimonials";
	
	@import "aui/alloy-font-awesome/scss/core";
	@import "aui/alloy-font-awesome/scss/bootstrap";
	@import "aui/alloy-font-awesome/scss/extras";
	@import "aui/alloy-font-awesome/scss/icons-alloy";
	@import "aui/alloy-font-awesome/scss/icons-alloy-extra";

	background-color: $bodyBackground;
	color: $textColor;
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	margin: 0;
}