/* CSS Document */

/* Layout */

* {
	margin:0;
	padding:0;
	border:0;
}
html, body {
	background:url(../images/bg.jpg) 0 0 repeat;
	-webkit-font-smoothing:antialiased;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#706d6d;
	letter-spacing:0;
	line-height:normal;
	margin:0;
}
body#page-1 {
	overflow-x:hidden;
}
div#all {
	width:100%;
	margin:0;
	padding:0;
}
div#wrapper {
	width:100%;
	position:relative;
	top:0;
	margin:0px auto;
	padding:0;
}
div#container {
	clear:both;
	background:#fff;
	width:960px;
	position:relative;
	top:-12px;
	left:0;
	z-index:1;
	text-align:left;
	margin:0 auto;
	padding:0;
}

/* end */

/* Global */

.aui h1, h1 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:36px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:40px;
	margin:0;
	padding:0 0 20px;
}
.aui h2, h2 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:24px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:25px;
	margin:0;
	padding:0 0 15px;
}
.aui h3, h3 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:20px;
	font-weight:500;
	font-style:normal;
	color:#473838;
	letter-spacing:0;
	text-transform:none;
	line-height:25px;
	margin:0;
	padding:0 0 8px;
}
.aui h4, h4 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:22px;
	font-weight:500;
	font-style:italic;
	color:#898989;
	letter-spacing:0;
	line-height:28px;
	text-transform:none;
	margin:0;
	padding:0 0 15px;
}
.aui h5, .aui h5 a, h5,
h5 a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:24px;
	text-decoration:none;
	margin:0;
	padding:0 0 5px;
}
.aui h5 a:hover, h5 a:hover {
	color:#7e100e;
	text-decoration:underline;
}
.aui h6, h6 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	letter-spacing:0;
	text-transform:uppercase;
	line-height:15px;
	margin:0;
	padding:0;
}
.aui h1 a, h1 a,
.aui h2 a, h2 a,
.aui h3 a, h3 a,
.aui h4 a, h4 a,
.aui h5 a, h5 a,
.aui h6 a, h6 a {
	text-decoration:none;
}
.aui h1 a:hover, h1 a:hover,
.aui h2 a:hover, h2 a:hover,
.aui h3 a:hover, h3 a:hover,
.aui h4 a:hover, h4 a:hover,
.aui h5 a:hover, h5 a:hover,
.aui h6 a:hover, h6 a:hover {
	text-decoration:underline;
}
.aui a, a {
	color:#038383;
	text-decoration:none;
}
.aui a:hover, a:hover {
	color:#038383;
	text-decoration:underline;
}
hr {
	background:url(../images/hr.gif) 0 0 repeat-x;
	clear:both;
	overflow:hidden;
	height:4px;
	margin:0;
	padding:0;
}
div.hr {
	background:url(../images/hr.gif) 0 0 repeat-x;
	clear:both;
	overflow:hidden;
	height:4px;
	margin:0;
	padding:0;
}
div.clearer {
	clear:both;
	overflow:hidden;
	height:0;
	margin:0;
	padding:0;
}
p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#706d6d;
	letter-spacing:0;
	line-height:25px;
	margin:0;
	
}
blockquote {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#473838;
	letter-spacing:0;
	line-height:28px;
	margin:20px 0 35px;
	padding:0 17px 0 31px;
}
blockquote p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#473838;
	letter-spacing:0;
	line-height:28px;
	margin:0;
	padding:0;
}
a img {
	border:none;
}
a.button {
	display:inline-block;
	background:#04a6a6;
	background:-moz-linear-gradient(
		top,
		#04a6a6 0%,
		#038686);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#04a6a6),
		to(#038686));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #038484;
	-moz-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(0,0,0,0),
		0px 0px 0px rgba(255,255,255,0);
	height:34px;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	line-height:34px;
	vertical-align:top;
	margin:0;
	padding:0 18px;
}
a.button:hover {
	background:#04a6a6;
	background:-moz-linear-gradient(
		top,
		#038686 0%,
		#04a6a6);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#038686),
		to(#04a6a6));
}
a.viewMore {
	background:#483939 !important;
	background:-moz-linear-gradient(
		top,
		#634e4e 0%,
		#483939) !important;
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#634e4e),
		to(#483939)) !important;
	border:1px solid #7c6c6c;
	height:40px;
	color:#fff;
	line-height:40px;
	padding:0 26px;
}
a.viewMore:hover {
	background:#634e4e !important;
	background:-moz-linear-gradient(
		top,
		#483939 0%,
		#634e4e) !important;
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#483939),
		to(#634e4e)) !important;
}

/* end */

/* Header */

div#headerContainer {
	background:#7e100e;
	-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .1);
	-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .1);
	box-shadow:0px 0px 5px 0px rgba(0, 0, 0, .1);
	position:relative;
	width:100%;
	height:106px;
	z-index:4;
	margin:0;
}
div#headerContainer div#header {
	width:960px;
	text-align:right;
	margin:0 auto;
	padding:0 0 18px;
}
div#headerContainer div#header div#logo {
	float:left;
	width:250px;
	text-align:left;
	margin:0 0 0 20px;
	padding:0;
	position: relative;
	z-index: 1;
}
div#headerContainer div#header div#logo img{
	display: block;
	}

div#headerContainer div#header div#navigation {
	float:left;
	width:690px;
	text-align:right;
	margin:0;
	padding:0;
}

/* Header Nav */
.expanded {
		display: block;
	}
.collapsed {
	display: none;
}
div#headerContainer div#header div#navigation div#headerNav {
	display:inline-block;
	background:rgba(76, 10, 8, .2);
	-moz-box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	-webkit-box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	margin:0;
	padding:0;
}

div#headerContainer div#header div#navigation div#headerNav ul {
	display:block;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#headerNav ul li {
	display:block;
	float:left;
	text-align:left;
	cursor:pointer;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#headerNav ul li a {
	display:block;
	position:relative;
	ont-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#ed1b2e;
	letter-spacing:0;
	line-height:normal;
	text-shadow:2px 1px 1px rgba(0, 0, 0, .3);
	text-transform:none;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:10px 14px;
}
div#headerContainer div#header div#navigation div#headerNav ul li a:hover,
div#headerContainer div#header div#navigation div#headerNav ul li a.activeTrail {
	background:#471313;
	-moz-box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	-webkit-box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	color:#ed1b2e;
	text-decoration:none;
}

/* Top Nav */
div#headerContainer div#header div#navigation div#topNav {
	text-align:right;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul {
	display:block;
	overflow:hidden;
	list-style:none;
	margin:21px 0 0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li {
	display:inline-block;
	position:relative;
	text-align:center;
	margin:0 0 0 25px;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.left,
div#headerContainer div#header div#navigation div#topNav ul li:hover span.right {
	display:block;
	background:url(../images/topnav-sides-ro.png) 0 0 no-repeat;
	width:1px;
	height:50px;
	position:absolute;
	top:-6px;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.left {
	-webkit-box-shadow:-1px 0px 1px 0px rgba(86, 11, 9, .14);
	box-shadow:-1px 0px 1px 0px rgba(86, 11, 9, .14);
	left:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.right {
	-webkit-box-shadow:1px 0px 1px 0px rgba(86, 11, 9, .14);
	box-shadow:1px 0px 1px 0px rgba(86, 11, 9, .14);
	right:0;
}
div#headerContainer div#header div#navigation div#topNav ul li a {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#fff;
	letter-spacing:0;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	text-align:center;
	margin:0;
	padding:12px 10px 21px;
}
div#headerContainer div#header div#navigation div#topNav ul li a:hover,
div#headerContainer div#header div#navigation div#topNav ul li a.activeTrail {
	background:url(../images/topnav-ro.png) 0 100% repeat-x;
	color:#ed1b2e;
	text-decoration:none;
}

/* end */

/* Home Slideshow  */

div#slideshowContainer {
	clear:both;
	position:relative;
	width:960px;
	height:469px;
	text-align:center;
	overflow:hidden;
	margin:0;
	padding:0;
}
.slide {
	width:100% !important;
	height:398px;
	margin:0;
	position: absolute;
	z-index: 5;
}

div#slideshow div.activeSlide{
	z-index:6;
}

div#slideshow {
	display:block;
	position:relative;
	height: 100%;
}

.ss_left {
	position:absolute;
	width:960px;
	text-align:center;
	margin:0;
	padding:0;
}
.ss_left a,
.ss_left a:hover {
	text-decoration:none;
}
.ss_left div.slideContent {
	background:url(../images/slide-content-bg.png) 0 0 repeat;
	width:381px;
	height:132px;
	position:absolute;
	top:92px;
	left:25px;
	overflow:hidden;
	text-align:left;
	margin:0;
	padding:24px 27px;
}
.ss_left div.slideContent p {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:28px;
	font-weight:500;
	color:#f8f8f8;
	letter-spacing:0;
	line-height:36px;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.3);
	margin:0;
	padding:0 0 20px;
}
.ss_right {
	width:960px;
	height:398px;
	z-index:5;
	text-align:center;
}
.ss_right img {
	width:960px;
	height:398px;
}
div#slideshow_actions {
	background:url(../images/container-overlay.png) 0 0 no-repeat;
	width:960px;
	height:90px;
	position:absolute;
	bottom:0px;
	display:block;
	left:0;
	z-index:8;
	margin:0;
	padding:11px 0 0;
}
div#slideshow_actions div#slideshow_actions_btns {
	background:#fff;
	display:block;
	clear:both;
	width:910px;
	text-align:left;
	position:relative;
	z-index:99;
	margin:0 26px;
	padding:0;
}
div#slideshow_actions div#navButtons {
	border-bottom:solid 1px #e4e1e1;
	position:absolute;
/* 	text-align:left; */
	text-align:center;
	width:909px;
	top:0;
	left:0;
	/*padding:10px 0 7px 1px;*/
	padding:10px 0 0 1px;
}
div#slideshow_actions ul {
/* 	display:block; */
	display:inline-block;
	margin:0;
	padding:0;
	/**/
	text-align:center;
}
div#slideshow_actions ul li {
	display:inline-block !important;
	list-style:none;
	margin:0;
	padding:0;
	float: left;
}
div#slideshow_actions ul li a {
	display:block;
	border-bottom:solid 3px #fff;
	width:172px;
	margin:0 0 0 8px;
	padding:0;
}
div#slideshow_actions ul li img {
	width:172px;
	height:58px;
	overflow:hidden;
	margin:0 0 1px;
}
div#slideshow_actions ul li a:hover,
div#slideshow_actions ul li a.activeSlide {
	border-bottom:solid 3px #ed1b2e;
	text-decoration:none;
}

/*This rule is a fix for slideshows with a single slide
If multiple slides exist, this width will be pulled in dynamically
And this rule will be unnecessary*/
#slideshow .ss_left {
	width:960px;
}

/* end */

/* Home */

div#homeContainer {
	background:url(../images/container-overlay.png) 0 0 no-repeat;
	position:relative;
	top:-24px;
	left:0;
	z-index:2;
	margin:0;
	padding:11px 0 0;
}
div#homeContainer div#home {
	clear:both;
	background:#fff;
	width:910px;
	margin:9px 26px 0;
	padding:0;
}
div#homeContainer div#home div#content_area {
	float:left;
	width:404px;
	margin:0;
	padding:0 32px 0 0;
}
div#homeContainer div#home div#content_area h1 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:24px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:30px;
	margin:0;
	padding:0 0 15px;
}
div#homeContainer div#home div#content_area p {
	font-size:15px;
	color:#706d6d;
	line-height:25px;
}
div#homeContainer div#home div#featured {
	border-left:dotted 2px #e9e9e9;
	float:right;
	width:472px;
	margin:0;
	padding:0;
}
div#homeContainer div#home div#featured div.featuredElement {
	float:left;
	width:201px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666973;
	line-height:21px;
	margin:0 0 0 34px;
	padding:0;
}
div#homeContainer div#home div#featured div.last {
	padding:0;
}
div#homeContainer div#home div#featured div.featuredElement p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#545454;
	line-height:20px;
	margin:0;
	padding:0 0 14px;
}
div#homeContainer div#home div#featured div.featuredElement div.image {
	text-align:right;
	margin:0 0 10px;
	padding:0;
}
div#homeContainer div#home div#featured div.featuredElement div.image img{
	width: 202px !important;
	height: 127px !important;
}

div#featuredContent {
	padding-top:20px;
	padding-bottom: 20px;
}

div#featuredContent img {
	padding-right: 10px;
	padding-bottom: 10px;
}

/* end */

/* Page Header Image */

div#headerImage {
	clear:both;
	width:960px;
	text-align:center;
	margin:0;
	padding:0;
}

div#headerImage img{
	display:block;
}

/* end */

/* Template */

div#templateContainer {
	background:url(../images/container-overlay.png) 0 0 no-repeat;
	position:relative;
	top:0;
	left:0;
	z-index:2;
	margin:-24px 0 0;
	padding:11px 0 0;
}
div#templateContainer div#template {
	clear:both;
	background:#fff;
	width:910px;
	margin:0 26px;
	padding:0;
}
.hasNoLeftOrRightCols div#right {
	background:#fff;
}
div#container div#template div#left {
	float:left;
	margin:0;
	width: 140px;
	padding:24px 12px 0 24px;
}
div#templateContainer div#template div#right {
	float:left;
	min-height:500px;
}
.hasLeftCol div#right {
	border-left:dotted 1px #d6d6d6;
	width:681px;
	margin:0;
	padding:24px 28px 50px 24px;
}
.hasRightCol div#right {
	border-right:dotted 1px #d6d6d6;
	width:618px;
	margin:0;
	padding:24px 28px 50px 24px;
}
div#contact .hasRightCol div#right {
	border-right:dotted 1px #d6d6d6;
	width:570px;
	margin:0;
	padding:24px 28px 50px 24px;
}

div#templateContainer div.hasLeftAndRightCols div.portlet-layout div#column-3 {
	padding: 0 24px;
	border-left: dotted 1px #d6d6d6;
}

.hasLeftAndRightCols div#right {
	border-left: none;
	border-right: dotted 1px #d6d6d6;
	width:437px;
	margin:0;
	padding:24px 28px 50px;
	padding-left: 0;
}
.hasNoLeftOrRightCols div#right {
	float:none;
	width:960px;
	margin:0;
	padding:24px 0 50px;
}

/* Left Testimonial */
div#templateContainer div#template div#left div.testimonialHolder {
	border-top:dotted 1px #d6d6d6;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#9f9f9f;
	text-transform:none;
	letter-spacing:0;
	line-height:20px;
	text-align:left;
	margin:6px 0 0;
	padding:22px 0;
}
div#templateContainer div#template div#left div.testimonialHolder p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#9f9f9f;
	text-transform:none;
	letter-spacing:0;
	line-height:20px;
	margin:0;
	padding:0 0 5px;
}
div#templateContainer div#template div#left div.testimonialHolder span.author {
	font-size:12px;
	font-style:normal;
	color:#575757;
	text-align:right;
	padding:0;
}
div#templateContainer div#template div#left div.testimonial_btm {
	background:url(../images/testimonial-btm.png) 0 0 no-repeat;
	position:relative;
	width:100%;
	height:13px;
	margin:7px 0 2px;
	padding:0;
}

/* Sidebar */
div#sidebar {
	float:left;
	width:191px;
	line-height:normal;
	margin:0;
	padding:24px;
	padding-right: 0;
}
div#contact div#sidebar {
	width:238px;
}
div#sidebar div.sideBar_ElementHolder {
	position:relative;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_Spacer {
	clear:both;
	border-top:dotted 1px #d6d6d6;
	height:21px;
	overflow:hidden;
    margin:20px 0 0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_Caption {
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	text-align:left;
	margin:0;
	padding:8px 0;
}
div#sidebar .sideBar_pop {
	position:relative;
    cursor:pointer;
}

/* Sidebar image */
div#sidebar div.sideBar_ElementHolder div.sideBar_ImageHolder {
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_ImageHolder img {
	vertical-align:middle;
}

/* Sidebar video */
div#sidebar div.sideBar_ElementHolder div.sideBar_VideoHolder {
	cursor:pointer;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_VideoHolder div.sideBar_VideoInner {
	position:relative;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_VideoHolder div.sideBar_VideoInner img {
	vertical-align:middle;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_VideoHolder div.sideBar_PlayImage {
	position:absolute;
	width:62px;
	height:62px;
	top:50px;
	left:78px;
	cursor:pointer;
	margin:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_VideoHolder div.sideBar_PlayImage img {
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

/* Sidebar content area */
div#sidebar div.sideBar_ElementHolder div.sideBar_ContentHolder {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	text-align:left;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_ContentHolder p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	margin:0;
	padding:0 0 10px;
}

/* Sidebar google map */
div#sidebar div#sideBar_GoogleMap {
	width:238px;
	height:222px;
	margin:0;
}
div#sidebar div.directions {
	display:none;
}
div#sidebar div#sideBar_MapList {
	border:none;
	text-align:left;
	padding:18px 30px 18px 0;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress {
	float:none;
	width:auto;
	margin:0 0 20px;
	padding:0;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .sideBar_MapAddressElementClickable {
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#7e100e;
	letter-spacing:0;
	line-height:24px;
	margin:0 0 3px;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .afterHours {
	font-size:14px;
	line-height:18px;
	margin:0 0 5px;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .sideBar_MapAddressElement {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#404040;
	letter-spacing:0;
	line-height:18px;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .sideBar_MapAddressElement a {
	font-weight:normal;
	color:#038383;
	text-decoration:none;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .sideBar_MapAddressElement a:hover {
	color:#038383;
	text-decoration:underline;
}
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .phone,
div#sidebar div#sideBar_MapList .sideBar_MapListAddress .email {
	margin:7px 0 0;
}

div#sidebar div#sideBar_GoogleMap .sideBar_InfoWindowContent {
	font-size:11px;
	color:#000;
	letter-spacing:0;
	line-height:normal;
	text-align:left;
}
div#sidebar div#sideBar_GoogleMap .sideBar_InfoWindowContent a {
	color:#3e8c84;
	text-decoration:underline;
}
div#sidebar div#sideBar_GoogleMap .sideBar_InfoWindowContent .sideBar_MapAddressElementName {
	font-weight:bold;
}
div#sidebar div#sideBar_GoogleMap .sideBar_InfoWindowContent .sideBar_MapAddressElement {
}

/* Bullets */
div#template div#right ul,
div#template div#right ol {
	margin:5px 0 0 30px;
}
div#template div#right ul li,
div#template div#right ol li {
	line-height:25px;
	margin:0;
	padding:0 0 6px;
}
div#template div#sidebar ul,
div#template div#sidebar ol {
	margin:5px 0 0 15px;
}
div#template div#sidebar ul li,
div#template div#sidebar ol li {
	line-height:18px;
	margin:0;
	padding:0 0 6px;
}
div#template div#right ul ul li,
div#template div#sidebar ul ul li {
	background:none;
	list-style:disc outside;
	margin:0;
}

/* end */

/* Team Landing */

div#teamLanding {
	margin:15px 0 0;
}
div#teamLanding div.teamMember {
	float:left;
	margin:0 25px 62px 0;
}
div#teamLanding div.last {
	margin:0 0 62px 0;
}
div#teamLanding div.teamMember div.teamImage {
	margin:0 0 5px;
}
div#teamLanding div.teamMember div.teamDesc {
	margin:0;
}
div#teamLanding div.teamMember div.teamDesc div.name {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#7e100e;
	margin:0;
}
div#teamLanding div.teamMember div.teamDesc div.name a {
	color:#7e100e;
	text-decoration:none;
}
div#teamLanding div.teamMember div.teamDesc div.name a:hover {
	color:#7e100e;
	text-decoration:underline;
}
div#teamLanding div.teamMember div.teamDesc div.jobTitle {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#706d6d;
}

/* end */

/* Team Detail */

div#teamDetail {
	margin:0;
}
div#teamDetail a.back {
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#038383;
	text-transform:uppercase;
	margin:0 0 20px;
}

a.back {
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#038383;
	text-transform:uppercase;
	margin:0 0 20px;
}

/* end */

/* Case Studies */

div.caseStudiesHeader {
	padding-top: 28px;
}
div.caseStudies {
	border-top:dotted 1px #d5d5d5;
	margin:0;
	padding-bottom: 50px;
}
div.caseStudies div.asset-content br{
	display: none;
}
div.caseStudies div.caseStudy {
	border-bottom:dotted 1px #d5d5d5;
	margin:0;
	padding:25px 0 28px;
}
div.caseStudies div.caseStudy div.image {
	float:left;
	margin:0 23px 0 0;
	padding:3px 0 0;
}
div.caseStudies div.caseStudy div.desc {
	margin:0;
	padding:0;
}
div.caseStudies div.caseStudy div.desc div.title {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:24px;
	margin:0;
	padding:0;
}
div.caseStudies div.caseStudy div.desc div.title a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:24px;
	text-decoration:none;
}
div.caseStudies div.caseStudy div.desc div.title a:hover {
	color:#7e100e;
	text-decoration:underline;
}
div.caseStudies div.caseStudy div.desc div.date {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-style:italic;
	color:#848080;
	letter-spacing:0;
	text-transform:none;
	line-height:20px;
	text-decoration:none;
	margin:0;
	padding:0 0 10px;
}
div.caseStudies div.caseStudy div.desc p {
	padding:0;
}
div.caseStudies div.caseStudy div.desc p:last-child {
	margin:0;
}
div.caseStudies div.separator {
	display: none !important;
}
div.viewMoreButton {
	text-align:center;
	margin:37px 0 0;
}

/* end */

/* Case Studies Detail */

div#caseStudyDetail {
	margin:0;
}
div#caseStudyDetail a.back {
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#038383;
	text-transform:uppercase;
	margin:0 0 20px;
}

/* end */

/* Blog Landing */

div#wordpressLanding {
	border-top:dotted 1px #d4d4d4;
	margin:0;
}
div#wordpressLanding div.landing {
	border-bottom:dotted 1px #d4d4d4;
	width:620px;
	margin:0;
	padding:28px 0 8px;
}
div#wordpressLanding div.landing div.postMeta {
	float:left;
	width:190px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#706d6d;
	letter-spacing:-0.025em;
	line-height:18px;
	margin:0;
	padding:0 10px 0 0;
}
div#wordpressLanding div.landing div.postMeta img {
	margin:0 3px 0 0;
}
div#wordpressLanding div.landing div.postMeta div.listingDate {
	margin:0;
}
div#wordpressLanding div.landing div.postMeta div.listingCategories {
	margin:0;
}
div#wordpressLanding div.landing div.postMeta div.listingTags {
	margin:0;
}
div#wordpressLanding div.landing div.postMeta div.listingComments {
	margin:0;
}
div#wordpressLanding div.landing div.storyContent {
	float:left;
	width:228px;
	margin:0;
	padding:0 20px 0 0;
}
div#wordpressLanding div.landing div.storyContent h3 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
	color:#7e100e;
	margin:0;
}
div#wordpressLanding div.landing div.storyContent h3 a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
	color:#7e100e;
	text-decoration:none;
}
div#wordpressLanding div.landing div.storyContent h3 a:hover {
	color:#7e100e;
	text-decoration:underline;
}
div#wordpressLanding div.landing div.full {
	width:400px;
	padding:0;
}
div#wordpressLanding div.landing div.featuredImage {
	float:left;
	width:172px;
	margin:0;
}
div#wordpressLanding div.viewMoreButton {
	text-align:center;
	margin:20px 0 0;
}
div#wordpressLanding div.viewMoreButton div.older {
	display:inline-block;
	margin:0 5px 0 0;
}
div#wordpressLanding div.viewMoreButton div.newer {
	display:inline-block;
}

/* Blog Widgets */

.wordpress div#sidebar {
	float:left;
	width:206px;
	margin:0;
	padding:24px 24px 24px 9px;
}
.wordpress div#menu {
	margin:0;
}
.wordpress div#menu div.widget div.title {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#6d6d6d;
	text-transform:uppercase;
	margin:0 0 10px;
	padding:0;
}

/* Search */
.wordpress div#menu div.search {
	margin:0;
}
.wordpress div#menu div.searchForm {
	margin:0;
	padding:0;
}
.wordpress div#menu div.searchForm input.input {
	display:inline-block;
	background:#fff;
	border:solid 1px #dfdfdf;
	border-right:none;
	width:136px;
	height:38px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#757575;
	letter-spacing:0;
	text-transform:none;
	vertical-align:top;
	margin:0;
	padding:0 10px;
}
.wordpress div#menu div.searchForm input.searchGo {
	background:#483939;
	background:-moz-linear-gradient(
		top,
		#634e4e 0%,
		#483939);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#634e4e),
		to(#483939));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #7c6c6c;
	height:40px;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	vertical-align:top;
	line-height:40px;
	margin:0 0 0 -9px;
	padding:0 7px;
}
.wordpress div#menu div.searchForm input.searchGo:hover {
	background:#634e4e;
	background:-moz-linear-gradient(
		top,
		#483939 0%,
		#634e4e);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#483939),
		to(#634e4e));
}

/* Categories */
.wordpress div.categories {
	border-top:dotted 1px #d4d4d4;
	border-bottom:dotted 1px #d4d4d4;
	display:block;
	list-style:none;
	text-align:left;
	margin:22px 0;
	padding:22px 0 15px;
}
.wordpress div.categories div.title {
	margin:0 !important;
}
.wordpress div.categories ul {
	margin:0 !important;
	padding:0 !important;
}
.wordpress div.categories li {
	display:block;
	list-style:none;
	position:relative;
	margin:0 !important;
	padding:0 !important;
}
.wordpress div.categories li span.count {
	display:inline-block;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#aeaeae;
	margin:12px 0 0;
}
.wordpress div.categories li a, 
.wordpress div.categories li a:visited {
	display:inline-block;
	position:relative;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#473838;
	letter-spacing:0;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	margin:0;
	padding:13px 0 6px 0;
}
.wordpress div.categories li a:hover, 
.wordpress div.categories li a:active,
.wordpress div.categories li a.current-cat {
	color:#ed1b2e;
	text-decoration:none;
}

/* Recent Comments */
.wordpress div.widget_rrm_recent_comments div.title {
	margin:0 0 10px !important;
}
.wordpress .widget_rrm_recent_comments ul {
	margin:0 !important;
	padding:0 !important;
}
.wordpress .widget_rrm_recent_comments li {
	border:none;
	display:block;
	list-style:none;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#706d6d;
	letter-spacing:0;
	line-height:15px;
	text-transform:none;
	margin:0 !important;
	padding:0 0 14px !important;
}
.wordpress .widget_rrm_recent_comments a {
	color:#473838;
	text-decoration:none;
	margin:0;
	padding:0;
}
.wordpress .widget_rrm_recent_comments .commentdate {
	font-size:10px;
	color:#706d6d;
	margin:2px 0 0;
}

/* end */

/* Blog Detail */

div#wordpressDetail a.back {
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#038383;
	text-transform:uppercase;
	margin:0 0 20px;
}
div#wordpressDetail {
	margin:0;
}
div#wordpressDetail div.detail {
	margin:0;
}
div#wordpressDetail div.detail div.postMeta {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#706d6d;
	letter-spacing:-0.025em;
	line-height:18px;
	margin:-10px 0 0;
	padding:0 10px 0 0;
}
div#wordpressDetail div.detail div.postMeta img {
	margin:0 3px 0 0;
}
div#wordpressDetail div.detail div.postMeta div.listingDate {
	display:inline-block;
	margin:0 10px 0 0;
}
div#wordpressDetail div.detail div.postMeta div.listingCategories {
	display:inline-block;
	margin:0 10px 0 0;
}
div#wordpressDetail div.detail div.postMeta div.listingTags {
	display:inline-block;
	margin:0 10px 0 0;
}
div#wordpressDetail div.detail div.postMeta div.listingComments {
	display:inline-block;
	margin:0;
}
div#wordpressDetail div.detail div.share {
	border-bottom:dotted 1px #d4d4d4;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#5a5a5a;
	text-transform:uppercase;
	margin:19px 0;
	padding:0 0 27px;
}
div#wordpressDetail div.detail div.share span.shareButtons {
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 15px;
}
div#wordpressDetail div.detail div#storyContent {
	margin:0;
	padding:0;
}
div#wordpressDetail div.detail div#storyContent img {
	float:right;
	margin:10px 0 10px 10px;
}

/* Comments */
div#wpComments {
	margin:25px 0 0;
}
div#wpComments div#commentsContainer {
	margin:0;
}
div#wpComments div#commentsContainer div.commentCount {
	border-top:dotted 1px #d1d1d1;
	margin:0;
}
div#wpComments div#commentsContainer div.commentCount h6 {
	display:inline-block;
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#473838;
	letter-spacing:-0.025em;
	line-height:18px;
	margin:-11px 0 0;
	padding:0 50px 0 0;
}
div#wpComments div#commentsContainer div.theComment {
	margin:20px 0 7px;
}
div#wpComments div#commentsContainer div.theComment div.commentAuthor {
	float:left;
	width:130px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#525252;
	margin:0;
	padding:0;
}
div#wpComments div#commentsContainer div.theComment div.commentAuthor div.commentDate {
	font-size:11px;
	color:#706d6d;
	text-transform:uppercase;
	margin:3px 0 0;
}
div#wpComments div#commentsContainer div.theComment div.commentContent {
	float:left;
	width:488px;
	margin:0;
}
div#wpComments div#commentsContainer div.theComment div.commentContent p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#737373;
	line-height:20px;
	margin:0;
	padding:0 0 10px;
}
div#wpComments div#leaveAComment {
	margin:40px 0 0;
}
div#wpComments div#leaveAComment div.sendFormContainer {
	width:100%;
}
div#wpComments div#leaveAComment div.sendFormContainer label {
	width:107px;
}
div#wpComments div#leaveAComment div.sendFormContainer .input,
div#wpComments div#leaveAComment div.sendFormContainer textarea {
	width:405px;
}
div#wpComments div#leaveAComment div.sendFormContainer div.submitBtnRow {
	width:544px;
}
div#wpComments div#leaveAComment div.sendFormContainer div.btm {
	bottom:-23px;
}

/* end */

/* MightyMenu  */

/* Holder Div */

div#MightyMenu {
	line-height:normal;
	margin:0;
	padding:0;
}

/* end */

/* Ordered List */

ul.MightyMenu {
	display:block;
	overflow:hidden;
	list-style:none;
	text-align:left;
	margin:0;
	padding:0;
}
ul.MightyMenu ul {
	background:none;
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	text-align:left;
	margin:0;
	padding:0 0 10px;
}
ul.MightyMenu ul ul { 
	background:none;
	display:none;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}
ul.MightyMenu li {
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}
ul.MightyMenu li.last {
	background:none;
}
ul.MightyMenu ul li {
	background:none;
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}

/* end */

/* Links */

ul.MightyMenu li a, 
ul.MightyMenu li a:visited {
	display:block;
	background:url(../images/leftnav-arrow.png) 0 6px no-repeat;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#473838;
	letter-spacing:-0.025em;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	margin:0;
	padding:0 0 20px 7px;
}
ul.MightyMenu li a:hover, 
ul.MightyMenu li a:active,
ul.MightyMenu li a.activeTrail {
	background:url(../images/leftnav-arrow-ro.png) 0 6px no-repeat;
	color:#ed1b2e;
	text-decoration:none;
}
ul.MightyMenu ul li a, 
ul.MightyMenu ul li a:visited {
	background:url(../images/leftnav-sub-arrow.png) 16px 6px no-repeat;
	border:none;
	display:block;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#473838;
	letter-spacing:0;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	margin:0;
	padding:0 0 12px 26px;
}
ul.MightyMenu ul li a:hover, 
ul.MightyMenu ul li a:active,
ul.MightyMenu ul li a.activeTrail {
	background:url(../images/leftnav-sub-arrow-ro.png) 16px 6px no-repeat;
	border:none;
	color:#7e100e;
	text-decoration:none;
}

/* end */

/* Hit Area */

div#MightyMenu .hitarea {
	display:none;
}

/* end */

/* Contact Form */

div.sendFormContainer {
	background:#f7f7f7;
	width:570px;
	position:relative;
	margin:0;
	padding:0;
}
div.sendFormContainer form {
	position:relative;
	z-index:2;
}
div.sendFormContainer div.sendFormHead {
	border-bottom:dotted 1px #aca9a9;
	margin:0 0 35px;
	padding:0;
}
div.sendFormContainer div.sendFormHead div.sendformHead_content {
	padding:28px 37px;
}
div.sendFormContainer div.sendFormHead div.sendformHead_content h2 {
	padding:0 0 5px;
}
div.sendFormContainer .required {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	color:#706d6d;
	letter-spacing:0;
	line-height:18px;
	margin:0;
	padding:0;
}
div.sendFormContainer .optional {
	font-weight:normal;
	font-style:italic;
}
div.sendFormContainer div.sendFormRow {
	margin:4px 0;
	overflow:hidden;
	padding:0 37px;
}
div.sendFormContainer label {
	float:left;
	width:88px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#473838;
	letter-spacing:0;
	text-transform:none;
	text-align:left;
	vertical-align:top;
	margin:3px 10px 0 0;
}
div.sendFormContainer select,
div.sendFormContainer .input,
div.sendFormContainer textarea {
	background:#fff;
	border:solid 1px #d9d8d8;
	float:left;	
	width:372px;
	height:27px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#473838;
	text-transform:none;
	margin:0;
	padding:1px 10px 1px;
}
div.sendFormContainer textarea {
	height:91px;
	padding-top:8px;
	padding-bottom:8px
}
div.sendFormContainer .sendFormNoLabel {
	margin:0 10px 0 163px;
}
div.sendFormContainer .sendFormCheckboxes {
	padding-bottom:35px;
}
div.sendFormContainer .sendFormCheckboxes label {
	width:auto;
	float:left;
	margin-right:12px;			
	font-weight:normal;
}
div.sendFormContainer .sendFormCheckboxes input {
	width:auto;
	float:left;
	clear:right;
	margin:7px 7px 0 0;
}
div.sendFormContainer .questionLabel {
	display:block;
	float:none;
	width:auto;
	text-align:left;
	margin:6px 0 0; 
}	
div.sendFormContainer .sendFormCheckboxes .noMargin {
	margin:0;
}
div.sendFormContainer div.submitBtnRow {
	width:493px;
}
div.sendFormContainer .submit {
	float:right;
	background:#483939;
	background:-moz-linear-gradient(
		top,
		#634e4e 0%,
		#483939);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#634e4e),
		to(#483939));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #7c6c6c;
	-moz-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(0,0,0,0),
		0px 0px 0px rgba(255,255,255,0);
	height:40px;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	line-height:40px;
	vertical-align:top;
	margin:12px 0 25px;
	padding:0 18px;
}
div.sendFormContainer .submit:hover {
	background:#634e4e;
	background:-moz-linear-gradient(
		top,
		#483939 0%,
		#634e4e);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#483939),
		to(#634e4e));
}
div.btm {
	background:url(../images/contact-shadow.png) 100% 100% no-repeat;
	width:581px;
	height:80px;
	position:absolute;
	bottom:-35px;
	right:-11px;
	z-index:1;
}

/* end */

/* Footer */

div#footer_container {
	clear:both;
	width:100%;
	margin:10px 0 50px;
	padding:0;
}
div#footer_container div#footer {
	width:910px;
	text-align:left;
	margin:0 auto 26px;
	padding:0;
}
div#footer_container div#footer div.footerLeft {
	float:left;
	width:503px;
	margin:0 137px 0 0;
}
div#footer_container div#footer div.footerLeft div.links {
	float:left;
	width:393px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#8c8c8c;
	margin:6px 0 0;
	padding:0;
}
div#footer_container div#footer div.footerLeft div.links a {
	color:#038383;
	text-decoration:none;
}
div#footer_container div#footer div.footerLeft div.links a:hover {
	color:#038383;
	text-decoration:underline;
}
div#footer_container div#footer div.footerLeft div.links span.delimiter {
	padding:0 16px;
}
div#footer_container div#footer div.footerLeft div.social {
	float:left;
	width:110px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#6d6d6d;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerLeft div.social img {
	vertical-align:middle;
	margin:0 0 0 8px;
}
div#footer_container div#footer div.footerLeft div#copyright {
	background:url(../images/footer-divider.png) 0 0 repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#b5b5b5;
	line-height:18px;
	text-align:left;
	margin:7px 0 0;
	padding:14px 0 0;
}
div#footer_container div#footer div.footerRight {
	float:right;
	width:270px;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#757575;
	letter-spacing:0;
	line-height:normal;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.title {
	font-size:14px;
	color:#6d6d6d;
	text-transform:uppercase;
	line-height:normal;
	margin:0 0 7px;
}
div#footer_container div#footer div.footerRight div.newsletter p {
	font-size:11px;
	color:#757575;
	letter-spacing:0;
	line-height:normal;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup {
	margin:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup div {
	display:inline-block;
	margin:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .input {
	background:#fff;
	border:solid 1px #dfdfdf;
	border-right:none;
	width:164px;
	height:33px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#757575;
	letter-spacing:0;
	text-transform:none;
	vertical-align:top;
	margin:0;
	padding:0 10px;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .submit {
	background:#038686;
	background:-moz-linear-gradient(
		top,
		#04a6a6 0%,
		#038686);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#04a6a6),
		to(#038686));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #038484;
	-moz-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(0,0,0,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(0,0,0,0),
		0px 0px 0px rgba(255,255,255,0);
	height:34px;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	line-height:34px;
	vertical-align:top;
	margin:0 0 0 -6px;
	padding:0 18px;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .submit:hover {
	background:#04a6a6;
	background:-moz-linear-gradient(
		top,
		#038686 0%,
		#04a6a6);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#038686),
		to(#04a6a6));
}

.portlet-layout {
	border-collapse: collapse;
	clear: both;
	display: table;
	border-spacing: 0;
	table-layout: auto;
	width: 100%;
}

.portlet-column {
	display: table-cell;
	vertical-align: top;
}

.aui-w85 {
	width: 85%;
}

/* end */