/* CSS Document */

/* Layout */

* {
	margin:0;
	padding:0;
	border:0;
}
html, body {
	background:url(../images/bg.jpg) 0 0 repeat;
	-webkit-font-smoothing:antialiased;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#706d6d;
	letter-spacing:0;
	line-height:normal;
	margin:0;
}
body#page-1 {
	overflow-x:hidden;
}
div#all {
	width:100%;
	margin:0;
	padding:0;
}
div#wrapper {
	width:100%;
	position:absolute;
	top:0;
	margin:0;
	padding:0;
}
div#container {
	clear:both;
	width:960px;
	position:relative;
	top:-12px;
	left:0;
	z-index:1;
	text-align:left;
	margin:0;
	padding:0;
}

/* end */

/* Global */

h1 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:36px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:36px;
	margin:0;
	padding:0 0 20px;
}
h2 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:24px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:25px;
	margin:0;
	padding:0 0 15px;
}
h3 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:20px;
	font-weight:500;
	font-style:normal;
	color:#473838;
	letter-spacing:0;
	text-transform:none;
	line-height:25px;
	margin:0;
	padding:0 0 8px;
}
h4 {
	font-family:"sorts-mill-goudy", "Palatino Linotype", Palatino, serif;
	font-size:22px;
	font-weight:500;
	font-style:italic;
	color:#898989;
	letter-spacing:0;
	line-height:28px;
	text-transform:none;
	margin:0;
	padding:0 0 15px;
}
h5 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	font-weight:500;
	font-style:normal;
	color:#7e100e;
	letter-spacing:0;
	text-transform:none;
	line-height:24px;
	margin:0;
	padding:0 0 5px;
}
h6 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	letter-spacing:0;
	text-transform:uppercase;
	line-height:15px;
	margin:0;
	padding:0;
}
h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
	color:#038383;
	text-decoration:none;
}
a {
    color:#038383;
	text-decoration:none;
}
a:hover {
    color:#038383;
	text-decoration:underline;
}
hr {
	background:url(../images/hr.gif) 0 0 repeat-x;
	clear:both;
	overflow:hidden;
	height:4px;
	margin:0;
	padding:0;
}
div.hr {
	background:url(../images/hr.gif) 0 0 repeat-x;
	clear:both;
	overflow:hidden;
	height:4px;
	margin:0;
	padding:0;
}
div.clearer {
	clear:both;
	overflow:hidden;
	height:0;
	margin:0;
	padding:0;
}
p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#706d6d;
	letter-spacing:0;
	line-height:25px;
	margin:0;
	padding:0 0 20px;
}
blockquote {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#473838;
	letter-spacing:0;
	line-height:28px;
	margin:20px 0 35px;
	padding:0 17px 0 31px;
}
blockquote p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#473838;
	letter-spacing:0;
	line-height:28px;
	margin:0;
	padding:0;
}
a img {
	border:none;
}
a.button {
	background:-moz-linear-gradient(
		top,
		#04a6a6 0%,
		#038686);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#04a6a6),
		to(#038686));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #038484;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	vertical-align:top;
	margin:0 0 0 -4px;
	padding:10px 18px;
}
a.button:hover {
	background:-moz-linear-gradient(
		top,
		#038686 0%,
		#04a6a6);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#038686),
		to(#04a6a6));
}

/* end */

/* Header */

div#headerContainer {
	background:#7e100e;
	border-bottom:solid 1px #bb8f8f;
	position:relative;
	width:100%;
	height:105px;
	z-index:2;
	margin:0;
}
div#headerContainer div#header {
	width:960px;
	text-align:right;
	margin:0;
	padding:0 0 18px;
}
div#headerContainer div#header div#logo {
	float:left;
	width:270px;
	text-align:left;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation {
	float:left;
	width:690px;
	text-align:right;
	margin:0;
	padding:0;
}

/* Header Nav */
div#headerContainer div#header div#navigation div#headerNav {
	display:inline-block;
	background:rgba(76, 10, 8, .2);
	-moz-box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	-webkit-box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	box-shadow:inset 0px 0px 5px 0px rgba(0, 0, 0, .1);
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#headerNav ul {
	display:block;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#headerNav ul li {
	display:block;
	float:left;
	text-align:left;
	cursor:pointer;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#headerNav ul li a {
	display:block;
	position:relative;
	ont-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#ed1b2e;
	letter-spacing:0;
	line-height:normal;
	text-shadow:2px 1px 1px rgba(0, 0, 0, .3);
	text-transform:none;
	text-decoration:none;
	text-align:left;
	margin:0;
	padding:10px 14px;
}
div#headerContainer div#header div#navigation div#headerNav ul li a:hover,
div#headerContainer div#header div#navigation div#headerNav ul li a.activeTrail {
	background:#471313;
	-moz-box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	-webkit-box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	box-shadow:inset 0px 0px 4px 0px rgba(0, 0, 0, .3);
	color:#ed1b2e;
	text-decoration:none;
}

/* Top Nav */
div#headerContainer div#header div#navigation div#topNav {
	text-align:right;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul {
	display:block;
	overflow:hidden;
	list-style:none;
	margin:21px 0 0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li {
	display:inline-block;
	position:relative;
	text-align:center;
	margin:0 0 0 25px;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.left,
div#headerContainer div#header div#navigation div#topNav ul li:hover span.right {
	display:block;
	background:url(../images/topnav-sides-ro.png) 0 0 no-repeat;
	width:1px;
	height:50px;
	position:absolute;
	top:-6px;
	margin:0;
	padding:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.left {
	left:0;
}
div#headerContainer div#header div#navigation div#topNav ul li:hover span.right {
	right:0;
}
div#headerContainer div#header div#navigation div#topNav ul li a {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#fff;
	letter-spacing:0;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	text-align:center;
	margin:0;
	padding:12px 10px 21px;
}
div#headerContainer div#header div#navigation div#topNav ul li a:hover,
div#headerContainer div#header div#navigation div#topNav ul li a.activeTrail {
	background:url(../images/topnav-ro.png) 0 100% repeat-x;
	color:#ed1b2e;
	text-decoration:none;
}

/* end */

/* Page Header Image */

div#headerImage {
	clear:both;
	width:960px;
	text-align:center;
	margin:0;
	padding:0;
}

/* end */

/* Template */

div#templateContainer {
	background:url(../images/container-overlay.png) 0 0 no-repeat;
	position:relative;
	top:-24px;
	left:0;
	z-index:2;
	margin:0;
	padding:11px 0 0;
}
div#templateContainer div#template {
	clear:both;
	background:#fff;
	width:910px;
	margin:0 26px;
	padding:0;
}
div#templateContainer div#template div#left {
	float:left;
	width:140px;
	margin:0;
	padding:24px 12px 0 24px;
}
div#templateContainer div#template div#right {
	float:left;
	min-height:500px;
}
.hasLeftAndRightCols div#right {
	border-left:dotted 1px #d6d6d6;
	border-right:dotted 1px #d6d6d6;
	width:437px;
	margin:0;
	padding:24px 28px 50px;
}

/* Left Testimonial */
div#templateContainer div#template div#left div.testimonialHolder {
	border-top:dotted 1px #d6d6d6;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#9f9f9f;
	text-transform:none;
	letter-spacing:0;
	line-height:20px;
	text-align:left;
	margin:6px 0 0;
	padding:22px 0;
}
div#templateContainer div#template div#left div.testimonialHolder p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#9f9f9f;
	text-transform:none;
	letter-spacing:0;
	line-height:20px;
	margin:0;
	padding:0 0 5px;
}
div#templateContainer div#template div#left div.testimonialHolder span.author {
	font-size:12px;
	font-style:normal;
	color:#575757;
	text-align:right;
	margin:0 0 0 49px;
	padding:0;
}
div#templateContainer div#template div#left div.testimonial_btm {
	background:url(../images/testimonial-btm.png) 0 0 no-repeat;
	position:relative;
	width:136px;
	height:13px;
	margin:7px 0 2px;
	padding:0;
}

/* Sidebar */
div#sidebar {
	float:left;
	width:191px;
	line-height:normal;
	margin:0;
	padding:24px;
}
div#sidebar div.sideBar_ElementHolder {
	position:relative;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_Spacer {
    clear:both;
	border-top:dotted 1px #d6d6d6;
	height:21px;
	overflow:hidden;
    margin:20px 0 0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_Caption {
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:italic;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	text-align:left;
	margin:0;
	padding:8px 0;
}

/* Sidebar image */
div#sidebar div.sideBar_ElementHolder div.sideBar_ImageHolder {
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_ImageHolder img {
	vertical-align:middle;
}

/* Sidebar content area */
div#sidebar div.sideBar_ElementHolder div.sideBar_ContentHolder {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	text-align:left;
	margin:0;
	padding:0;
}
div#sidebar div.sideBar_ElementHolder div.sideBar_ContentHolder p {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	color:#706d6d;
	text-transform:none;
	letter-spacing:0;
	line-height:18px;
	margin:0;
	padding:0 0 10px;
}

/* Bullets */
div#template div#right ul,
div#template div#right ol,
div#template div#sidebar ul,
div#template div#sidebar ol {
	margin:5px 0 0 30px;
}
div#template div#right ul li,
div#template div#sidebar ul li,
div#template div#right ol li,
div#template div#sidebar ol li {
	line-height:25px;
	margin:0;
	padding:0 0 6px;
}
div#template div#right ul ul li,
div#template div#sidebar ul ul li {
	background:none;
	list-style:disc outside;
	margin:0;
}

/* end */

/* Left Nav  */

/* Holder Div */
div#leftNav {
	line-height:normal;
	margin:0;
	padding:0;
}

/* end */

/* Ordered List */
ul.leftNav {
	display:block;
	overflow:hidden;
	list-style:none;
	text-align:left;
	margin:0;
	padding:0;
}
ul.leftNav ul {
	background:#dde9ef;
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	text-align:left;
	margin:0;
	padding:14px 0;
}
ul.leftNav ul ul { 
	background:none;
	display:none;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}
ul.leftNav li {
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}
ul.leftNav li.last {
	background:none;
}
ul.leftNav ul li {
	background:none;
	border:none;
	display:block;
	list-style:none;
	cursor:pointer;
	margin:0;
	padding:0;
}

/* end */

/* Links */
ul.leftNav li a, 
ul.leftNav li a:visited {
	display:block;
	background:url(../images/leftnav-arrow.png) 0 6px no-repeat;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#473838;
	letter-spacing:-0.025em;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	margin:0;
	padding:0 0 20px 7px;
}
ul.leftNav li a:hover, 
ul.leftNav li a:active,
ul.leftNav li a.activeTrail {
	background:url(../images/leftnav-arrow-ro.png) 0 6px no-repeat;
	color:#ed1b2e;
	text-decoration:none;
}
ul.leftNav ul li a, 
ul.leftNav ul li a:visited {
	background:none;
	border:none;
	display:block;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#767575;
	letter-spacing:0;
	line-height:normal;
	text-transform:none;
	text-decoration:none;
	margin:0;
	padding:6px 16px 6px 20px;
}
ul.leftNav ul li a:hover, 
ul.leftNav ul li a:active {
	background:#74b7d8;
	border:none;
	color:#fff;
	text-decoration:none;
}

/* end */

/* Footer */

div#footer_container {
	clear:both;
	width:100%;
	margin:10px 0 50px;
	padding:0;
}
div#footer_container div#footer {
	width:910px;
	text-align:left;
	margin:0 26px;
	padding:0;
}
div#footer_container div#footer div.footerLeft {
	float:left;
	width:503px;
	margin:0 137px 0 0;
}
div#footer_container div#footer div.footerLeft div.links {
	float:left;
	width:393px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#8c8c8c;
	margin:6px 0 0;
	padding:0;
}
div#footer_container div#footer div.footerLeft div.links a {
	color:#038383;
	text-decoration:none;
}
div#footer_container div#footer div.footerLeft div.links a:hover {
	color:#038383;
	text-decoration:underline;
}
div#footer_container div#footer div.footerLeft div.links span.delimiter {
	padding:0 16px;
}
div#footer_container div#footer div.footerLeft div.social {
	float:left;
	width:110px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#6d6d6d;
	text-transform:uppercase;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerLeft div.social img {
	vertical-align:middle;
	margin:0 0 0 10px;
}
div#footer_container div#footer div.footerLeft div#copyright {
	background:url(../images/footer-divider.png) 0 0 repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#b5b5b5;
	line-height:18px;
	text-align:left;
	margin:7px 0 0;
	padding:14px 0 0;
}
div#footer_container div#footer div.footerRight {
	float:right;
	width:270px;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#757575;
	letter-spacing:0;
	line-height:normal;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.title {
	font-size:14px;
	color:#6d6d6d;
	text-transform:uppercase;
	line-height:normal;
	margin:0 0 7px;
}
div#footer_container div#footer div.footerRight div.newsletter p {
	font-size:11px;
	color:#757575;
	letter-spacing:0;
	line-height:normal;
	margin:0;
	padding:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup {
	margin:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup div {
	display:inline-block;
	margin:0;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .input {
	background:#fff;
	border:solid 1px #dfdfdf;
	border-right:none;
	width:164px;
	height:33px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#757575;
	letter-spacing:0;
	text-transform:none;
	vertical-align:top;
	margin:0;
	padding:0 10px;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .submit {
	background:-moz-linear-gradient(
		top,
		#04a6a6 0%,
		#038686);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#04a6a6),
		to(#038686));
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #038484;
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.2),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	vertical-align:top;
	margin:0 0 0 -4px;
	padding:10px 18px;
}
div#footer_container div#footer div.footerRight div.newsletter div.signup .submit:hover {
	background:-moz-linear-gradient(
		top,
		#038686 0%,
		#04a6a6);
	background:-webkit-gradient(
		linear, left top, left bottom, 
		from(#038686),
		to(#04a6a6));
}

/* end */