div.taglib-discussion {
	div.commentHeaderContainer {
		border-top: dotted 1px #d1d1d1;
   		margin: 0;
   		
		h6 {
			display: inline-block;
		    background: #fff;
		    font-family: Arial, Helvetica, sans-serif;
		    font-size: 12px;
		    font-weight: bold;
		    color: #473838;
		    letter-spacing: -0.025em;
		    line-height: 18px;
		    padding: 0 75px 0 0;
		    position: relative;
		    top: -11px;
		}
	}
	.lfr-discussion {
		border: none;
		margin: 20px 0;
		
		&.first {
			margin-top: 0;
		}
		
		.lfr-discussion-details {
			.taglib-user-display {
				padding: 0;
				font-family: Tahoma, Geneva, sans-serif;
			    font-size: 12px;
			    color: #525252;
			    margin: 0;
			    padding: 0;
				
				a, span {
					display: inline-block;
				
					.user-profile-image {
						display: none;
					}
				
					.user-name {
						text-align: left;
						font-size: inherit;
						font-weight: normal;
						text-decoration: none;
						color: #038383;
					}
				}
			}
		}
		
		.lfr-discussion-posted-on {
			font-size: 11px;
		    color: #706d6d;
		    text-transform: uppercase;
		    margin: 3px 0 0;
		    position: absolute;
		    left: 0;
   			top: 20px;
   			float: none;
   			padding: 0;
		}
		
		.lfr-discussion-body {
			.lfr-discussion-message {
				font-family: Tahoma, Geneva, sans-serif;
			    font-size: 13px;
			    color: #737373;
			    line-height: 20px;
			    margin: 0;
			    padding: 0;
			}
			.lfr-discussion-controls {
				display: none;
			}
		}
	}
	
	.add-comment {
		margin: 20px 0 0;
		
		.subscribe-link {
			display: none;
		}
		
		img {
			margin-bottom: 4px;
		}
		
		.commentContainer {
			display: block !important;
			background: #f7f7f7;
			padding: 24px;
			
			.sendFormHead {
				border-bottom: dotted 1px #aca9a9;
			    margin: 0 0 35px;
			    padding: 0;
			    
			    .sendformHead_content {
			    	h2 {
			    		padding: 0 0 5px;
			    	}
			    }
			}
			
			.lfr-textarea-container {
				label {
				    width: 88px;
				    font-family: Tahoma, Geneva, sans-serif;
				    font-size: 11px;
				    font-weight: bold;
				    color: #473838;
				    letter-spacing: 0;
				    text-transform: none;
				    text-align: left;
				    vertical-align: top;
				    margin: 0;;
				}
				
				textarea {
					max-width: 960px;
					padding: 0;
					margin: 0;
				}
			}
		
			div.form-inline {
				display: none;
			}
			
			div.button-holder {
				margin-bottom: 0;
				
				.btn-comment {
					float: right;
				    background: #483939;
				    background: -moz-linear-gradient( top, #634e4e 0%, #483939);
				    background: -webkit-gradient( linear, left top, left bottom, from(#634e4e), to(#483939));
				    -moz-border-radius: 2px;
				    -webkit-border-radius: 2px;
				    border-radius: 2px;
				    border: 1px solid #7c6c6c;
				    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2), inset 0px 0px 1px rgba(255,255,255,0.7);
				    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2), inset 0px 0px 1px rgba(255,255,255,0.7);
				    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), inset 0px 0px 1px rgba(255,255,255,0.7);
				    text-shadow: 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px rgba(255,255,255,0);
				    height: 40px;
				    cursor: pointer;
				    font-family: Tahoma, Geneva, sans-serif;
				    font-size: 10px;
				    font-weight: bold;
				    color: #fff;
				    text-transform: uppercase;
				    text-decoration: none;
				    line-height: 40px;
				    vertical-align: top;
				    margin: 0;
				    padding: 0 18px;
					
				}
				.btn-cancel {
					display: none;
				}
			}
		}
	}
}