
div#contentContainer {
	div#sidebar {
		width: 190px;
		padding-right: 24px;
		position: relative;
		
		div {
			&:empty {
				display: none;
			}
		}
		
		div.widget {
			div.title {
				font-family: Tahoma, Geneva, sans-serif;
			    font-size: 10px;
			    font-weight: bold;
			    color: #6d6d6d;
			    text-transform: uppercase;
			    margin: 0 0 10px;
			    padding: 0;
			}
		}
		
		div.search {
			margin: 0;
			
			div.searchForm {
				form.search-form {
				}
			}
		}
		
		div.categories {
		    border-top: dotted 1px #d4d4d4;
   			border-bottom: dotted 1px #d4d4d4;
   			display: block;
		    list-style: none;
		    text-align: left;
		    margin: 0 0 22px 0;
		    padding: 22px 0 15px;
		    
		    div.title {
		    	margin: 0 !important;
		    }
		    
		    ul {
		    	margin: 0;
		    	padding: 0;
		    	
		    	li {
		    		background: none;
		    		list-style: disc outside;
		    		line-height: 18px;
		    		display: block;
		    		position: relative;
		    		margin: 0;
		    		padding: 0;
		    		
		    		a, a:visited {
		    			display: inline-block;
					    position: relative;
					    cursor: pointer;
					    font-family: Tahoma, Geneva, sans-serif;
					    font-size: 12px;
					    font-weight: normal;
					    color: #473838;
					    letter-spacing: 0;
					    line-height: normal;
					    text-transform: none;
					    text-decoration: none;
					    margin: 0;
					    padding: 13px 0 6px 0;
					    
					    &:hover {
					    	color: $linkRed;
					    }
		    		}
		    		
		    		&.active {
		    			a {
		    				color: $linkRed;
		    			}
		    		}
		    		
		    		span.count {
		    			display: inline-block;
					    float: right;
					    font-family: Tahoma, Geneva, sans-serif;
					    font-size: 12px;
					    color: #aeaeae;
					    margin: 12px 0 0;
		    		}
		    	}
		    }
		}
		
		div.recentComments {
			border-bottom: dotted 1px #d4d4d4;
			
			ul {
				margin: 0 !important;
    			padding: 0 !important;
    			
    			li {
    				border: none;
				    display: block;
				    list-style: none;
				    font-family: Tahoma, Geneva, sans-serif;
				    font-size: 11px;
				    font-weight: normal;
				    color: #706d6d;
				    letter-spacing: 0;
				    line-height: 15px;
				    text-transform: none;
				    margin: 0 !important;
				    padding: 0 0 22px !important;
	    			
	    			div.commentDate {
	   				    font-size: 10px;
					    color: #706d6d;
					    margin: 2px 0 0;
	    			}
	    			
	    			.commentAuthor {
	    				position: static;
	    			}
	    			
	    			div.commentBody {
	    				margin: 5px 0;
	    				border-left: 4px solid #d4d4d4;
    					padding-left: 8px;
	    				
	    				a {
	    					color: #473838;
						    text-decoration: none;
						    margin: 0;
						    padding: 0;
						    display: block;
	    				}
	    			}
    			}
			}
		}
	}
	
	div.showingFilterDiv {
		margin-bottom: 2px;
		
		h5 {
			display: inline-block;
		}
		
		div.filterItem {
			display: inline-block;
			background: #d7d7d7;
			padding: 5px;
			color: $linkColor2;
			border-radius: 1em;
			font-weight: bold;
		}
		
		div.icon-delete {
			&:hover {
				opacity: 0.7;
				cursor: pointer;
			}
		}
	}
	
	div.contentList {
		border-top: dotted 1px #d4d4d4;
		
		div.post {
			border-bottom: dotted 1px #d4d4d4;
		    margin: 0;
		    padding: 20px 0 20px;
		    
		    div.featuredImage {
		   		float: left;
		   		max-width: 172px;
		   		width: auto;
			    margin: 3px 23px 3px 0;
		   	}
		    
		   	div.storyContent {
			    margin: 0;
			    padding: 0;
			    
			    h5, h5 a {
			    	font-family: Tahoma, Geneva, sans-serif;
				    font-size: 17px;
				    color: #7e100e;
				    margin: 0;
				    padding: 0 0 2px;
				    line-height: 20px;
				    overflow: hidden;
			    }
			    
			    div.postMeta {
			    	float: none;
				    width: auto;
				    font-family: Tahoma, Geneva, sans-serif;
				    font-size: 12px;
				    color: #706d6d;
				    letter-spacing: -0.025em;
				    line-height: 18px;
				    margin: 0;
				    padding: 0 0 10px 0;
				    overflow: hidden;
				    
					img {
			    		margin: 0 3px 0 0;
			    	}
			    	
			    	div.tagLineItem {
			    		display: inline-block;
			    		padding-right: 5px;
			    		
			    		&:last-child {
			    			padding: 0;
			    			margin: 0;
			    		}
			    	}
			    	
			    	div.listingComments {
			    	}
				}
			    
			    &.full {
			    	width: 400px;
	   				padding: 0;
			    }
			    
			    p:last-child {
			    	padding: 0;
			    	margin: 0;
			    }
		   	}
		}
	}
}