div#contentContainer {
	div#contentDetail {
		div.detail {
			div.postMeta {
			    margin: -15px 0 0;
			    
			    img {
			    	margin: 0 3px 0 0;
			    }
			    div.tagLineItem {
			    	padding: 0 10px 0 0;
			    }
			}
			
			div.storyContent {
				
				code {
					white-space: normal;
				    word-wrap: break-word;
				    word-break: break-word;
				}
			}
		}
	}
}