@mixin iconStyling ($width, $height, $backgroundURL, $display) {
	background-image: url($backgroundURL);
    height: $height;
    vertical-align: middle;
    border: 0;
    background-repeat: no-repeat;
    display: $display;
    width: $width;
    margin-bottom: 3px;
}

div.icon-date { 
	@include iconStyling(10px, 11px, $dateIconPath, inline-block);
}

div.icon-tag {
    @include iconStyling(11px, 12px, $tagIconPath, inline-block);
}

div.icon-category {
    @include iconStyling(10px, 8px, $categoryIconPath, inline-block);
}

div.icon-echelon-comment {
    @include iconStyling(10px, 8px, $commentIconPath, inline-block);
}

div.icon-delete {
	@include iconStyling(16px, 16px, $deleteIconPath, inline-block);
}

div.icon-author {
    @include iconStyling(10px, 10px, $authorIconPath, inline-block);
}

div.icon-author-block {
    @include iconStyling(10px, 8px, $authorIconPath, block);
}

div.thumb-facebook {
	@include iconStyling(32px, 32px, $facebookThumbPath, inline-block);
}

div.thumb-twitter {
	@include iconStyling(32px, 32px, $twitterThumbPath, inline-block);
}

div.thumb-linkedin {
	@include iconStyling(32px, 32px, $linkedinThumbPath, inline-block);
}
div.thumb-glassdoor {
	@include iconStyling(32px, 32px, $glassdoorThumbPath, inline-block);
}