@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#column-1 {
		div#headerImage {
			width: auto;
		}
	}
	
	div#templateContainer {
		background: none;
	
		div#template {
			margin: 0;
			width: 100%;
			
			div#right {
				width: auto;
				
				p {
					span {
						font-size: inherit !important;
					}
				}
				
				ul {
					font-size: inherit !important;
				}
			}
			
			div#left {
				padding: 24px 6px 0px 18px;
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#column-2 {
		display: block;
	}
	
	div#templateContainer {
		div#template {
			div#right {
				border: none;
				
				p {
					text-align: left;
				}
				
				h1 {
					text-align: left;
				}
				
				h2 {
					padding-top: 15px;
				}
			}
			
			div#left {
				width: auto;
				padding: 24px 0px 0px 0px;
				margin: 0px 12px;
				display: none;
				
				div.testimonialHolder {
					margin-right: auto;
			    	margin-left: auto;
			    	width: 140px;
			    	padding: 22px 0px 22px 0px;
			    	margin-top: 28px;
			    	display: none;
				}
				
				div#MightyMenu {
					background: #e9e9e9;
					
					ul.MightyMenu {
						li {
							width: 50%;
							
							ul {
								display: none;
								
								li {
									float: left;
								}
							}
							
							a, a:visited {
								background: none;
								padding: 14px 10px;
								display: block;
								
								&:hover, &:active, &.activeTrail {
									color: white;
									background: #7e100e;
								} 
							}
							
							&:first-child {
								float: left;
								
								ul {
									&:first-child {
										li {
											a {
												&:first-child {
													padding: 0px 0px 14px 14px;
													
													&:hover {
														background: #7e100e;
    													color: white;
													}
												}
											}
										}
									}
								}
							}
							
							&.active {
								a:first-child {
									color: white;
									background: #7e100e;
									
									&:hover {
										background: #7e100e;
										color: #ed1b2e;
									}
								}
							}
							
							&:last-child {
								float: right;
								
								ul {
									&:first-child {
										width: 100%;
										float: right;
										
										li {
											text-align: left;
											
											a {
												&:first-child {
													padding: 0px 14px 14px 14px;
													
													&:hover {
														background: #7e100e;
    													color: white;
													}
												}
											}
										}
									}
								}
								
								a {
									text-align: right;
								}
							}
							
							&.active {
								a:first-child {
									color: white;
									background: #7e100e;
									
									&:hover {
										background: #7e100e;
										color: #ed1b2e;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}