@media only screen and (min-width: 0px) and (max-width: $phoneWidthMidpoint) {
	div#slideshowContainer {
    	height: 125px !important;
    	
    	#slideshow {
	    	.ss_left {
				display: none;
			}
		}
    }
}

@media only screen and (min-width: $phoneWidthMidpoint) and (max-width: $phoneWidthUpperThreshold) {
	div#slideshowContainer {
    	height: 175px !important;
    }
}

@media only screen and (min-width: $phoneWidthUpperThreshold) and (max-width: $portraitTabletWidthUpperThreshold) {
	div#slideshowContainer {
    	height: 225px !important;
    }
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#slideshowContainer {
		margin-bottom: 0;
    	position: relative;
    	width: auto;
    	
    	div#slideshow {
    		top: 0;
	    	bottom: 0;
	    	right: 0;
	    	left: 0;
	    	position: absolute;
	    	height: auto;
	    	width: auto;
	    	width: 100% !important;
	    	
	    	div.slide {
	    		height: 100% !important;
				position: absolute;
				
				div.ss_left {
					width: 100%;
					height: 100%;
					z-index: 200;
					
					div.slideContent {
						top: 20px;
						left: 25px;
						padding: 4px 13px 12px 13px;
				    	width: auto;
				    	height: auto;
				    	
				    	p {
				    		font-size: 16px !important;
							padding: 0;
				    	}
					}
				}
				
				div.ss_right {
					height: 100%;
			    	background-size: cover!important;
			    	background-position: 50% 50%!important;
			    	position: absolute;
			    	top: 0;
			    	width: 100%;
			    	z-index: 10;
			    	
			    	img {
			    		display: block;
						height: 100%;
						width: 100%;
			    	}
				}
	    	}
    	}
    	
    	div#slideshow_actions {
    		width: 100%;
			background: none;
			height: 75px;
			display: none;
			
			div#slideshow_actions_btns {
				width: 100%;
				margin: 0;
				
				div#navButtons {
					width: 100%;
					padding: 0;
				}
			}
    	}
	}
}