div.embeddedSideBar {
	display: none;
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div.hasLeftAndRightCols {
		width: 100%;
		margin: 0;
		
		div.journal-content-article {
			width: auto !important;
			
			div#right {
				border-right: none;
				padding-right: 0;
				
				div.embeddedSideBar#sidebar {
					padding: 0;
					margin: 16px 0px 0px 10px;
					display: block !important;
					float: right;
				}
			}
			
			div.realSideBar {
				display: none;
			}
		}
	}
	
	.sideBar_Spacer {
		display: none;
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	
	a.back {
		border: 2px solid gray;
	   	background: #e9e9e9;
	   	padding: 10px 0px;
	   	text-align: center;
	   	font-size: 18px;
	   	display: none !important;
	   	
	   	&:hover {
	   		text-decoration: none;
			opacity: 0.7;
	   	}
	}
	div.hasLeftAndRightCols {
		div.journal-content-article {
			div#right {
				width: 100% !important;
				
				div.embeddedSideBar#sidebar {
					width: 50%;
					max-width: 200px;
				}
			}
		}
	}
	
	div#container {
		div#template {
			div#left {
				float: none;
				border-bottom: 2px dashed $grayLine;
			}  
		}
	}
}