@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#careerViewContainer {
		p {
			font-size: inherit;
			margin: 0 0 10px !important;
			padding: 0px !important;
			
			&:empty {
				display: none;
			}
		}
		
		ul {
			margin-bottom: 15px !important;	
			
			li {
				font-size: inherit;
			}
		}
		
		h4 {
			&:empty {
				display: none;
			}
		}
		
		h2 {
			padding-top: 0px !important;
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#careerViewContainer {
		text-align: left;
		
		a.back {
			display: none;
		}
	}
}