@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#contentContainer {
		div#templateContainer {
			div#template {
				div#right {
					min-height: 0;
				}
				div#sidebar {
					display: none;
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#contentContainer {
		div.contentList {
			div.post {
				div.featuredImage {
					max-width: 25% !important;
					width: auto;
					margin: 3px 10px 3px 0px !important;
				}
			}
		}	
	}
}