@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#contact {
		div.portlet-layout, div.portlet-column {
			display: inherit;
		}
		
		div#templateContainer {
			div#template {
				div#right {
					float: none;
					border: none;
					padding-bottom: 0px;
					border-bottom: 1px dashed #e9e9e9;
					min-width: 0px;
					
					div.sendFormContainer {
						width: auto;
						
						div.sendFormHead {
							margin: 0 0 20px;
						
							div.sendformHead_content {
								padding: 10px;
								
								h2 {
									padding-top: 0;
								}
							}
						}
						
						div.sendFormRow {
							padding: 0 10px;
						}
						
						div.submitBtnRow {
							width: auto;
						}
						
						.input, textarea {
							padding: 0 !important;
							width: 100% !important;
						}
					}
				}
				
				div#sidebar {
					float: none;
					margin: 0;
					width: auto;
					padding: 20px;
					display: inherit;
					
					div#sideBar_GoogleMap, div#sideBar_GoogleMapIndia {
						width: auto;
						height: auto;
						text-align: center;
					    display: inline-block;
					    float: left;
					    padding-right: 10px;
					    padding-bottom: 10px;
					    
					    img {
					    	max-width: 240px;
					    }
					}
					
					div#sideBar_MapList {
						display: inline-block;
						padding-top: 0px;
						padding-right: 0px;
						width: auto;
						border: none;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div#contact {
		div#templateContainer {
			div#template {
				div#sidebar {
					div#sideBar_GoogleMap, div#sideBar_GoogleMapIndia {
						float: none;
						display: block;
						padding-right: 0;
					}
				}
			}
		}
	}
}