@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {

}

@media only screen and (max-width: $phoneWidthUpperThreshold) {
	div.taglib-discussion {
		.commentHeaderContainer {
			border-top: none !important;
		}
	
		.lfr-discussion {
			border-bottom: 1px solid #DDD !important;
			margin: 0 !important;
			
			&.first {
				margin-top: 0;
				border-top: 1px solid #DDD !important;
			}
			
			.lfr-discussion-body {
				min-width: 0px;
				padding: 5px 0;
			}
		}
		
		.lfr-message-response {
			margin-top: 20px;
		}
	}
}