ul.rightAligned {
	text-align: right !important;
}

ul.leftAligned {
	text-algin: left !important;
}


@media only screen and (min-width: $portraitTabletWidthUpperThreshold) {
	.mobileNav {
		display: none;
	}
	#hamburgerMenu-inner {
		display: none;
	}
}

@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	.dockbar.navbar-static-top {
		display: none !important;
	}
	
	div#headerContainer {
		z-index: auto !important;
	}
	
	button.hamburgerMenu {
		position: absolute;
	    right: 0;
	    margin: 0px;
	    background-color: #7e100e;
	    border: none;
	    font-size: 24px;
	    color: white;
	    background: none;
	    -webkit-box-shadow: none;
	    text-decoration: none;
	    z-index: 4;
	    padding: 13px 19px !important;
	    width: auto;
	    display: inline-block;
	    top: 0;
	    text-align: left;
	    
	    &:focus {
			outline: none;
			background: none;
			color: white;
		}
		&:hover {
			background: none;
			color: white;
		}
	}
	
	div#wrapper {
		div.mobile-overlay {
			display: none;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    z-index: 190;
		    background: #000;
		    opacity: .4;
		}
	}
	
	div#headerContainer {
		height: 50px;
		
		div#header {
			width: 100%;
			
			div#navigation {
				width: 100%;
				float: none;
				display: block;
				text-align: right;
				
				div#topNav {
					display: none;
				}
				
				div#headerNav {
					display: none;
				}
				
				div.mobileNav {
					display: block;
				}
			}
			
			div#logo {
				width: auto;
				margin: 0;
				
				img {
					height: 50px;
					position: relative;
					top: 1px;
			    	left: 20px;
				}
			}
		}
	}
	
	div#hamburgerMenu-inner {
		background: #7e100e;
		width: 50%;
		height: 100%;
		display: block;
		z-index: 300;
		position: fixed;
		min-width: 250px;
		max-width: 350px;
		top: 0;
		overflow: auto;
		text-align: left;
		
		div.hamburgerMenu-header {
			width: auto;
		    height: auto;
		    display: inline-block;
		    
		    div.hamburgerMenu-headerDiv {
		    	width: auto;
			    height: auto;
			    display: inline-block;
		    
		    	span.hamburgerMenu-headerTitle {
			    	line-height: 50px;
				    padding-left: 15px;
				    color: white;
				    font-weight: bold;
				    font-size: 16px;
			    }
			}
		}
		
		ul.nav {
			margin: 0;
			
			li {
				border-bottom: 1px solid black;
				width: 100%;
				position: relative;
			
				&:first-child {
					border-top: 1px solid black;
				}
				
				a {
					color: white;
					margin: 0;
					font-weight: normal;
					width: auto;
					&:hover, &:focus {
						background-color: black;
						text-decoration: underline;
					}
				}
				
				a.caretA {
					display: block;
					height: 100%;
					
					&:focus {
						background: none;
					}
				}
				
				div.caretHolder {
					position: absolute;
					top: 0;
					right: 0;
					
					a:hover {
						background: none;
						
						span.caret {
							@extend .caret-zoomed;
						}
						
						span.caret-right {
							@extend .caret-right-zoomed;
						}
					}
					
					span.caret {
						border-top: 4px solid white;
					    position: relative;
					    margin: 16px 20px 18px 20px;
					    display: inline-block;
					}
				}
				
				ul.nav-second {
					margin-left: 15px;
					
					li {
						border: none;
					}
				}
			}
		}
	}
	.caret-right {
		border-bottom: 4px solid transparent !important;
	    border-top: 4px solid transparent !important;
	    border-left: 4px solid white !important;
	    border-right: none !important;
	    display: inline-block;
	    border-top: 4px solid white;
	    position: relative;
	    margin: 15px 20px 10px 20px;
	}
	
	.caret-right-zoomed {
		border-bottom: 8px solid transparent !important;
	    border-top: 8px solid transparent !important;
	    border-left: 8px solid white !important;
	    margin: 10px 15px 10px 20px;
	}
	.caret-zoomed {
		border-left: 8px solid transparent !important;
	    border-top: 8px solid white !important;
	    border-right: 8px solid transparent !important;
	    margin: 15px 15px 15px 20px;
	}
}

