@media only screen and (max-width: $portraitTabletWidthUpperThreshold) {
	div#contentContainer {
		div#templateContainer {
			div#template {
				div#right {
					div#contentDetail {
						div.detail {
							div.storyContent {
								img {
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $phoneWidthMidpoint) {
	div#contentContainer {
		div#right {
			div.showingFilterDiv {
				h5 {
				}
			}
		}
	}
}