div#topNav {
	a.selected {
		background: url(../images/topnav-ro.png) 0 100% repeat-x;
    	color: #ed1b2e !important;
    	text-decoration: none !important;
	}
}

div#headerNav {
	a.selected {
		background: #471313;
	    -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
	    color: #ed1b2e !important;
	    text-decoration: none;
	}
}

div#hamburgerMenu-inner {
	a.selected {
		background-color: black;
	}
}