.side-bar-sitemap {
	line-height: normal;
	margin: 0;
	padding: 0;
	
	ul{
		display: block;
		overflow: hidden;
		list-style: none;
		text-align: left;
		margin: 0;
		padding: 0;
		
		li{
			border: none;
			display: block;
			list-style: none;
			cursor: pointer;
			margin: 0;
			padding: 0;
			
			a{
				display: block;
				background: url(http://74.82.131.100/echelon-theme/images/leftnav-arrow.png) 0 6px no-repeat;
				position: relative;
				font-family: Tahoma, Geneva, sans-serif;
				font-size: 12px;
				font-weight: normal;
				color: #473838;
				letter-spacing: -0.025em;
				line-height: normal;
				text-transform: none;
				text-decoration: none;
				margin: 0;
				padding: 0 0 20px 7px;
				
				&:hover {
					background: url(http://74.82.131.100/echelon-theme/images/leftnav-arrow-ro.png) 0 6px no-repeat;
					color: #ed1b2e;
					text-decoration: none;
				}
			}
		}
	}
}