div.teamLandingContainer {
	div#teamLanding {
		margin: 15px 0 0;
		
		div.teamMember {
			float: left;
    		margin: 0 20px 40px 0;

			&.last {
				margin: 0 0 40px 0;
			}
			
			div.teamImage {
				margin: 0 0 5px;
				
				img {
					width: 190px;
					height: 190px;
				}
			}
			
			div.teamDesc {
				div.name {
					font-family: Tahoma, Geneva, sans-serif;
				    font-size: 16px;
				    color: #7e100e;
				    margin: 0;
				}
				
				div.jobTitle {
					font-family: Tahoma, Geneva, sans-serif;
				    font-size: 13px;
				    color: #706d6d;
				}
			}
		}
	}
}