//--------------------------------------------------------------------------------
// CUSTOM VARIABLE OVERRIDES
//--------------------------------------------------------------------------------
// This file contains the Bootstrap variable overrides that are relevant to the 
// echelon main theme.
//
// STYLE NOTE:  When editing this file, try and maintain Bootstrap's original organization
//				as much as possible. 
//--------------------------------------------------------------------------------

// Grays
// -------------------------
$grayLine: #e9e9e9 !default;
$darkerGrayLine: #d6d6d6 !default;
$linkColor2: #038383 !default;

// Accent colors
// -------------------------
$echelonRed: #7e100e;
$linkRed: #ed1b2e;

// Scaffolding
// -------------------------
$bodyBackground: url(../images/bg.jpg) 0 0 repeat;

// Typography
// -------------------------

// Responsive Design
// -------------------------
$landscapeTabletWidthUpperThreshold: 1024px;
$portraitTabletWidthUpperThreshold: 979px;
$phoneWidthUpperThreshold: 767px;
$phoneWidthMidpoint: 480px;

// Images

$tagIconPath: '../images/blog_images/icon-tag.png' !default;
$dateIconPath: '../images/blog_images/icon-date.png' !default;
$commentIconPath: '../images/blog_images/icon-comment.png' !default;
$categoryIconPath: '../images/blog_images/icon-category.png' !default;
$authorIconPath: '../images/blog_images/author.png' !default;
$facebookThumbPath: '../images/social_media/facebook-small.png' !default;
$twitterThumbPath: '../images/social_media/twitter-small.png' !default;
$linkedinThumbPath: '../images/social_media/linkedin-small.png' !default;
$glassdoorThumbPath: '../images/social_media/glassdoor-small.png' !default;


$deleteIconPath: '../images/blog_images/icon-delete.png' !default;