/* ---------- Breadcrumbs ---------- */
.breadcrumbs-horizontal {
  margin-bottom: 1.5em; }

.breadcrumbs-horizontal li {
  background: url(@theme_image_path@/arrows/05_right.png) no-repeat 100% 50%;
  margin-right: 5px;
  max-width: 50%;
  padding-right: 15px; }

.breadcrumbs-vertical li {
  background: url(@theme_image_path@/arrows/07_down.png) no-repeat 50% 100%;
  padding: 0 0 9px;
  max-width: auto; }

.breadcrumbs a {
  display: block; }

.breadcrumbs-vertical a {
  text-align: center;
  text-decoration: none; }

.breadcrumbs .last {
  background-image: none; }

.breadcrumbs-horizontal .last {
  margin-top: 0.2em; }

.breadcrumbs-vertical .last {
  font-weight: bold; }

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
  color: #555; }

/* ---------- Hidden Accessible ---------- */
#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
  clip: rect(0 0 0 0);
  position: absolute; }

.opens-new-window-accessible {
  background: url(@theme_image_path@/common/open_window.png) no-repeat 0 50%;
  display: inline-block;
  font-size: 0;
  height: 11px;
  margin-left: 2px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: top;
  width: 11px; }

/* ---------- Extras ---------- */
.lfr-title-scope-selector {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.lfr-title-scope-selector {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

body.green, .green .portlet {
  background-color: #F1F3EF; }

.green .logo .current-site {
  background-color: #AFBFA7; }

.green .aui-state-hover {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362; }

.green .aui-icon {
  background-image: url(@theme_image_path@/color_schemes/green/aui/icon_sprite.png); }

/* ---------- Links ---------- */
.green a {
  color: #677D5B; }

.green a:hover {
  color: #66CD00; }

/* ---------- Application styling ---------- */
.green .results-header {
  background-color: #D7DDD2; }

.green .results-row.alt td {
  background-color: #E2E7DE; }

.green .results-row.hover td {
  background-color: #C4CDBD; }

.green .drop-area {
  background-color: #DBDED4; }

.green .aui-resizable-proxy {
  border-color: #909683; }

.green .aui-sortable-proxy {
  background-color: #7C8272; }

.green .aui-menugroup-content h4 {
  background-color: #D7DFD3;
  color: #677D5B; }

.green .aui-menu-content li a, .green .lfr-menu-list ul li a {
  color: #2F342C; }

.green .my-sites-menu .current-site {
  border-color: #42811D; }

.green .my-sites-menu .current-site a {
  background-color: #68BB30;
  color: #FFF; }

.green .aui-menu-content li a.aui-focus, .green .lfr-menu-list ul a.aui-focus, .green .lfr-menu-expanded li a:focus {
  background-color: #677D5B;
  color: #FFF;
  text-shadow: -1px -1px #2F342C; }

.green .aui-tab {
  background: none; }

.green .aui-tab-active {
  background-color: #333; }

.green .aui-tab-active, .green .aui-tab-active a {
  color: #FFF; }

.green .portlet-communities .lfr-current-theme, .green .portlet-enterprise-admin .lfr-current-theme {
  background-color: #F6F8F1;
  border-color: #909683; }

.green .portlet-communities .theme-entry, .green .portlet-communities .lfr-current-theme .theme-screenshot, .green .portlet-enterprise-admin .theme-entry, .green .portlet-enterprise-admin .lfr-current-theme .theme-screenshot {
  border-color: #B9BDAF; }

.green .portlet-communities .theme-entry .theme-title, .green .portlet-enterprise-admin .theme-entry .theme-title {
  background-color: #909488;
  border-color: #909683; }

.green .portlet-communities .lfr-theme-list h3, .green .portlet-enterprise-admin .lfr-theme-list h3 {
  background-color: #DBDED4; }

.green .portlet-communities .selected-color-scheme .theme-entry, .green .portlet-enterprise-admin .selected-color-scheme .theme-entry {
  border-color: #669A33; }

.green .portlet-communities .lfr-theme-list .theme-entry:hover, .green .portlet-enterprise-admin .lfr-theme-list .theme-entry:hover {
  background-color: #F5FFE0;
  border-color: #CFE0A8;
  color: #BBC99F; }

.green .portlet-communities .theme-entry:hover .theme-thumbnail, .green .portlet-enterprise-admin .theme-entry:hover .theme-thumbnail {
  border-color: #CFE0A8; }

.green .portlet-document-library .detail-column-last {
  background-color: #F2FFD8; }

.green .portlet-document-library .detail-column-last .detail-column-content {
  border-color: #C6DA89; }

.green .dockbar {
  background-color: #A2AF98;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/dockbar_bg.png); }

.green .dockbar .menu-button-active {
  background-color: #95DB5C;
  background-image: url(@theme_image_path@/color_schemes/green/dockbar/button_active_bg.png); }

.green .dockbar .menu-button-active a {
  color: #FFF; }

.green .aui-portal-layout-drag-indicator {
  background-color: #57B63C; }

.green .aui-autocomplete-results-content {
  border-color: #C1F599; }

.green .aui-autocomplete-selected {
  background-color: #E9F7E0;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry {
  background-color: #D9F4CB;
  border-color: #BBEAA4; }

.green .aui-textboxlistentry-focused {
  background-color: #57B63C;
  border-color: #404F34; }

.green .aui-textboxlistentry-close-hover {
  background-color: #BBEAA4; }

/* ---------- Portlet wrapper and icons ---------- */
.green .portlet {
  border-color: #909683; }

.green .portlet-topper {
  background-color: #D9DDD3;
  border-bottom-color: #B7BCAE; }

.green .panel-page .portlet-topper {
  border-bottom-color: #909683; }

.green .portlet-section-selected, .green .portlet-section-selected a {
  background-color: #909683; }

.green .portlet-section-selected a:hover, .green .portlet-section-selected a:focus {
  background-color: #909683; }

/* ---------- Calendar portlet ---------- */
.green .portlet-calendar .calendar-day .day-text {
  background-color: #909683; }

.green .taglib-calendar tr td a {
  background-color: #EFF3EA; }

.green .taglib-calendar tr td a:hover {
  background-color: #909683; }

.green .taglib-calendar .calendar-current-day a {
  border-color: #909683;
  color: #5F9930; }

.green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .green .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
  background-color: #F2FFDF;
  border-color: #B7BCAE;
  color: #5BCC00; }

.green .taglib-calendar .calendar-current-day, .green .taglib-calendar .calendar-current-day a {
  background-color: #FFF; }

.green .taglib-calendar tr td.calendar-inactive {
  color: #BEC4B5; }

/* ---------- Miscellaneous portlet styles ---------- */
.green .journal-template-error .scroll-pane pre span {
  background-color: #BEC4B5; }

.green .restricted * {
  color: #909683; }

.green .lfr-actions .lfr-trigger li a:hover {
  background-color: #909683; }

.green .lfr-tag-selector-popup .aui-textfield-content {
  background-color: #DBDED4;
  border-color: #B9BDAF; }

/* This CSS sets the default styles for forms. */
.green input[type="submit"], .green input[type="button"], .green input[type="reset"], .green button, .green .lfr-actions, .green .lfr-actions ul {
  color: #404F34; }

.green input[type="submit"]:hover, .green input[type="button"]:hover, .green input[type="reset"]:hover, .green button:hover, .green .lfr-actions:hover, .green .lfr-actions:hover ul {
  background-color: #CFDABA;
  background-image: url(@theme_image_path@/color_schemes/green/application/state_hover_bg.png);
  border-color: #778362;
  color: #669A33; }

.green input[type="submit"]:focus, .green input[type="button"]:focus, .green input[type="reset"]:focus, .green button:focus, .green .lfr-actions:focus, .green .lfr-actions:focus ul {
  background-color: #ECECEC;
  background-image: url(@theme_image_path@/application/state_active_bg.png); }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie6 .green input.submit, .ie6 .green input.button, .ie6 .green button, .ie6 .green .aui-button-disabled input.submit, .ie6 .green .aui-button-disabled input.button, .ie6 .green .aui-button-disabled button {
  color: #404F34; }

/* ---------- Site breadcrumbs ---------- */
.green .site-breadcrumbs li.first a {
  color: #669A33; }

.green .site-breadcrumbs li.last a {
  color: #55674B; }

.green .lfr-hudcrumbs .breadcrumbs li a, .green .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

body.orange, .orange .portlet {
  background-color: #F3F1EF; }

.orange .logo .current-site {
  background-color: #BFB8A7; }

.orange .aui-state-hover {
  background-color: #DAC8BA;
  background-image: url(@theme_image_path@/color_schemes/orange/application/state_hover_bg.png);
  border-color: #837062; }

.orange .aui-icon {
  background-image: url(@theme_image_path@/color_schemes/orange/aui/icon_sprite.png); }

/* ---------- Links ---------- */
.orange a {
  color: #7D745B; }

.orange a:hover {
  color: #CD7700; }

/* ---------- Application styling ---------- */
.orange .results-header {
  background-color: #DDD9D2; }

.orange .results-row.alt td {
  background-color: #E7E4DE; }

.orange .results-row.hover td {
  background-color: #CDC7BD; }

.orange .drop-area {
  background-color: #DED8D4; }

.orange .aui-resizable-proxy {
  border-color: #968A83; }

.orange .aui-sortable-proxy {
  background-color: #827972; }

.orange .aui-menugroup-content h4 {
  background-color: #DFDCD3;
  color: #7D745B; }

.orange .aui-menu-content li a, .orange .lfr-menu-list ul li a {
  color: #34322C; }

.orange .my-sites-menu .current-site {
  border-color: #81641D; }

.orange .my-sites-menu .current-site a {
  background-color: #BB8F30;
  color: #FFF; }

.orange .aui-menu-content li a.aui-focus, .orange .lfr-menu-list ul a.aui-focus, .orange .lfr-menu-expanded li a:focus {
  background-color: #7D745B;
  color: #FFF;
  text-shadow: -1px -1px #34322C; }

.orange .aui-tab {
  background: none; }

.orange .aui-tab-active {
  background-color: #333; }

.orange .aui-tab-active, .orange .aui-tab-active a {
  color: #FFF; }

.orange .portlet-communities .lfr-current-theme, .orange .portlet-enterprise-admin .lfr-current-theme {
  background-color: #F8F4F1;
  border-color: #968A83; }

.orange .portlet-communities .theme-entry, .orange .portlet-communities .lfr-current-theme .theme-screenshot, .orange .portlet-enterprise-admin .theme-entry, .orange .portlet-enterprise-admin .lfr-current-theme .theme-screenshot {
  border-color: #BDB4AF; }

.orange .portlet-communities .theme-entry .theme-title, .orange .portlet-enterprise-admin .theme-entry .theme-title {
  background-color: #948D88;
  border-color: #968A83; }

.orange .portlet-communities .lfr-theme-list h3, .orange .portlet-enterprise-admin .lfr-theme-list h3 {
  background-color: #DED8D4; }

.orange .portlet-communities .selected-color-scheme .theme-entry, .orange .portlet-enterprise-admin .selected-color-scheme .theme-entry {
  border-color: #9A6F33; }

.orange .portlet-communities .lfr-theme-list .theme-entry:hover, .orange .portlet-enterprise-admin .lfr-theme-list .theme-entry:hover {
  background-color: #FFEEE0;
  border-color: #E0BDA8;
  color: #C9B09F; }

.orange .portlet-communities .theme-entry:hover .theme-thumbnail, .orange .portlet-enterprise-admin .theme-entry:hover .theme-thumbnail {
  border-color: #E0BDA8; }

.orange .portlet-document-library .detail-column-last {
  background-color: #FFE9D8; }

.orange .portlet-document-library .detail-column-last .detail-column-content {
  border-color: #DAA489; }

.orange .dockbar {
  background-color: #AFA798;
  background-image: url(@theme_image_path@/color_schemes/orange/dockbar/dockbar_bg.png); }

.orange .dockbar .menu-button-active {
  background-color: #DBAC5C;
  background-image: url(@theme_image_path@/color_schemes/orange/dockbar/button_active_bg.png); }

.orange .dockbar .menu-button-active a {
  color: #FFF; }

.orange .aui-portal-layout-drag-indicator {
  background-color: #B6A63C; }

.orange .aui-autocomplete-results-content {
  border-color: #F5D599; }

.orange .aui-autocomplete-selected {
  background-color: #F7F0E0;
  border-color: #EAD8A4; }

.orange .aui-textboxlistentry {
  background-color: #F4EACB;
  border-color: #EAD8A4; }

.orange .aui-textboxlistentry-focused {
  background-color: #B6A63C;
  border-color: #4F4534; }

.orange .aui-textboxlistentry-close-hover {
  background-color: #EAD8A4; }

/* ---------- Portlet wrapper and icons ---------- */
.orange .portlet {
  border-color: #968A83; }

.orange .portlet-topper {
  background-color: #D9DDD3;
  border-bottom-color: #B7BCAE; }

.orange .panel-page .portlet-topper {
  border-bottom-color: #968A83; }

.orange .portlet-section-selected, .orange .portlet-section-selected a {
  background-color: #968A83; }

.orange .portlet-section-selected a:hover, .orange .portlet-section-selected a:focus {
  background-color: #968A83; }

/* ---------- Calendar portlet ---------- */
.orange .portlet-calendar .calendar-day .day-text {
  background-color: #968A83; }

.orange .taglib-calendar tr td a {
  background-color: #EFF3EA; }

.orange .taglib-calendar tr td a:hover {
  background-color: #968A83; }

.orange .taglib-calendar .calendar-current-day a {
  border-color: #968A83;
  color: #5F9930; }

.orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:hover, .orange .portlet-calendar .taglib-calendar tr td.calendar-current-day a:focus {
  background-color: #F2FFDF;
  border-color: #B7BCAE;
  color: #5BCC00; }

.orange .taglib-calendar .calendar-current-day, .orange .taglib-calendar .calendar-current-day a {
  background-color: #FFF; }

.orange .taglib-calendar tr td.calendar-inactive {
  color: #BEC4B5; }

/* ---------- Miscellaneous portlet styles ---------- */
.orange .journal-template-error .scroll-pane pre span {
  background-color: #BEC4B5; }

.orange .restricted * {
  color: #968A83; }

.orange .lfr-actions .lfr-trigger li a:hover {
  background-color: #968A83; }

.orange .lfr-tag-selector-popup .aui-textfield-content {
  background-color: #DED8D4;
  border-color: #BDB4AF; }

/* This CSS sets the default styles for forms. */
.orange input[type="submit"], .orange input[type="button"], .orange input[type="reset"], .orange button, .orange .lfr-actions, .orange .lfr-actions ul {
  color: #4F4534; }

.orange input[type="submit"]:hover, .orange input[type="button"]:hover, .orange input[type="reset"]:hover, .orange button:hover, .orange .lfr-actions:hover, .orange .lfr-actions:hover ul {
  background-color: #DAC8BA;
  background-image: url(@theme_image_path@/color_schemes/orange/application/state_hover_bg.png);
  border-color: #837062;
  color: #9A6F33; }

.orange input[type="submit"]:focus, .orange input[type="button"]:focus, .orange input[type="reset"]:focus, .orange button:focus, .orange .lfr-actions:focus, .orange .lfr-actions:focus ul {
  background-color: #ECECEC;
  background-image: url(@theme_image_path@/application/state_active_bg.png); }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie6 .orange input.submit, .ie6 .orange input.button, .ie6 .orange button, .ie6 .orange .aui-button-disabled input.submit, .ie6 .orange .aui-button-disabled input.button, .ie6 .orange .aui-button-disabled button {
  color: #4F4534; }

/* ---------- Site breadcrumbs ---------- */
.orange .site-breadcrumbs li.first a {
  color: #9A6F33; }

.orange .site-breadcrumbs li.last a {
  color: #67604B; }

.orange .lfr-hudcrumbs .breadcrumbs li a, .orange .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

/* ---------- Base styles ---------- */
body {
  background: #EEF0F2;
  font-size: 11px; }

a {
  color: #5B677D;
  text-decoration: underline; }

a:hover {
  color: #06C;
  text-decoration: none; }

hr, .separator {
  border-color: #BFBFBF transparent #FFF;
  border-style: solid;
  border-width: 1px 0; }

#wrapper {
  background: none;
  margin: 0 auto;
  max-width: 100%;
  min-width: 960px;
  position: relative; }

.ie6 #wrapper {
  width: 90%; }

#banner {
  background: none;
  height: auto;
  margin-top: 1.4em;
  position: relative; }

.site-title .site-name {
  background: #555555 url(../images/common/site_icon.png) no-repeat 15px 50%;
  color: #FFF;
  display: block;
  float: right;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0 0 20px;
  padding: 7px 17px 7px 40px;
  position: relative;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }

.page-template .site-title .site-name {
  background-image: url(../images/common/page_template.png); }

.site-template .site-title .site-name {
  background-image: url(../images/common/site_template.png); }

.company-site .site-title .site-name {
  background-image: url(../images/common/folder.png); }

.organization-site .site-title .site-name {
  background-image: url(../images/common/organization_icon_white.png); }

.user-site .site-title .site-name {
  background-image: url(../images/common/user_icon_white.png); }

.private-page .site-title .site-name:after {
  background-image: url(../images/common/key_small.png);
  content: '';
  display: block;
  height: 10px;
  left: 24px;
  position: absolute;
  top: 50%;
  width: 10px; }

#skip-to-content:focus {
  clip: rect(auto auto auto auto);
  right: 0;
  z-index: 200; }

#sign-in {
  background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
  font-weight: bold;
  padding: 5px 5px 5px 25px;
  position: absolute;
  right: 0;
  top: -1.2em; }

.ie6 #banner {
  height: 1%; }

.ie6 #banner h1.logo {
  height: 1%; }

/* ---------- Main navigation ---------- */
/*
#navigation {
	background: #414445 url(@theme_image_path@/navigation/bg.png) repeat-x 0 0;
	clear: both;
	margin: 0 auto 5px;
	min-height: 2.2em;
	padding: 0 5px;
	position: relative;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 3px;
}

.ie7 #navigation ul {
	padding: 2px;
}

#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	position: relative;
	vertical-align: top;
}

#navigation a {
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 1px;
	padding: 3px 15px;
	text-decoration: none;
}

.ie6 #navigation a, .ie7 #navigation a {
	padding: 4px 15px;
}

#navigation .yui3-dd-drop a {
	cursor: move;
}

#navigation .selected a, #navigation li.hover a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .yui3-dd-dragging, .lfr-navigation-proxy {
	background: #313334;
	color: #FFF;
	outline: 0;
	text-shadow: -1px -1px #000;
}

#navigation li.hover .child-menu {
	background: #1E2529;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 250;
}

.ie6 #navigation ul.child-menu-visible, .ie6 #navigation li.hover .child-menu, .ie7 #navigation ul.child-menu-visible, .ie7 #navigation li.hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover, #navigation li a.active {
	background-color: #020509;
}

#navigation .child-menu .selected a {
	background: #020509 url(@theme_image_path@/navigation/bullet_selected.png) no-repeat 5px 50%;
}

.nav-menu-style-arrows ul {
	list-style-image: url(@theme_image_path@/navigation/bullet_selected.png);
}
*/
/* ---------- Portlet wrapper and icons ---------- */
.portlet {
  background-color: #EEF0F2;
  border: 1px solid #C8C9CA;
  margin: 0 0 10px;
  padding: 3px;
  text-align: left; }

.portlet-topper {
  background: #d4d4d4 url(@theme_image_path@/portlet/header_bg.png) repeat-x 0 0;
  border: 1px solid;
  border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
  font-size: 1.1em; }

.portlet-title {
  float: none;
  font-weight: bold;
  min-width: 50%;
  padding: 5px;
  text-shadow: 1px 1px #FFF; }

.signed-in.controls-visible .portlet-title {
  padding-right: 80px; }

.lfr-portlet-title-editable {
  margin-top: -4px;
  z-index: 9999; }

.ie .lfr-portlet-title-editable {
  margin-top: -6px; }

.lfr-portlet-title-editable-content {
  padding: 0; }

.ie .lfr-portlet-title-editable-content {
  margin-top: 4px; }

.portlet-icons {
  float: none; }

.portlet-icons .portlet-close-icon {
  border-width: 0; }

.page-maximized .portlet-icons {
  font-size: 11px; }

.ie .portlet-title {
  padding-bottom: 5px; }

.ie6 .portlet-topper {
  zoom: 1; }

/* ---------- Footer ---------- */
#footer {
  text-align: right; }

/* ---------- Site breadcrumbs ---------- */
.site-breadcrumbs {
  margin: 0 0 5px;
  width: auto; }

.site-breadcrumbs ul {
  background-color: #FFF;
  border: 1px solid #DEDEDE;
  border-color: #C0C2C5;
  margin: 0; }

.site-breadcrumbs li {
  background-image: none;
  margin-right: 0;
  padding-left: 0.75em;
  padding-right: 0; }

.site-breadcrumbs li span {
  background: url(@theme_image_path@/common/breadcrumbs.png) no-repeat 100% 50%;
  display: block;
  padding: 0.5em 15px 0.5em 0; }

.site-breadcrumbs li span a {
  text-decoration: none; }

.site-breadcrumbs li.first a {
  color: #369;
  font-weight: bold; }

.site-breadcrumbs li.last a {
  color: #4B5567;
  font-size: 1.3em; }

.site-breadcrumbs .last {
  font-size: 1em;
  margin-top: 0;
  padding-right: 0; }

.site-breadcrumbs .last span {
  background-image: none;
  padding: 0; }

/* ---------- Hudcrumbs ---------- */
.lfr-hudcrumbs {
  position: fixed;
  top: 0;
  z-index: 440; }

.lfr-hudcrumbs ul {
  background: #414445;
  background: rgba(0, 0, 0, 0.8); }

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
  color: #FFF; }

.lfr-hudcrumbs li span {
  background-image: url(@theme_image_path@/common/breadcrumbs_hud.png); }

/* ---------- Misc. ---------- */
.lfr-panel-container {
  background-color: transparent; }

.aui-combobox .aui-field-input {
  padding: 4px 3px 3px;
  font-size: 11px;
  height: 15px; }

.aui-combobox .aui-field {
  float: left;
  line-height: 0; }

.lfr-portlet-title-editable-content .aui-field {
  float: none;
  display: inline; }

/* ---------- Extras ---------- */
#banner .site-name {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white; }

.portlet-borderless-bar {
  -moz-border-radius: 20px;
  -moz-box-shadow: inset 0 1px 3px #000;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 3px #000;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px #000; }

.portlet-topper {
  -moz-box-shadow: 1px 1px 0 #FFF;
  -webkit-box-shadow: 1px 1px 0 #FFF;
  box-shadow: 1px 1px 0 #FFF; }

#banner .site-name {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px white; }

#navigation li.selected a {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8); }

.aui-combobox .aui-toolbar-first {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

#content-area {
  background: url(../images/container-overlay.png) 0 0 no-repeat;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 2;
  margin: -24px 0 0;
  padding: 11px 0 0; }

div#templateContainer div#portal-area {
  clear: both;
  background: #fff;
  width: 910px;
  margin: 0 26px;
  padding: 0; }

.portlet-column-content {
  padding: 0px; }

.asset-content {
  margin: 0px 0 0 0 !important; }

.portlet-asset-publisher .final-separator {
  margin-bottom: 0px !important; }

#blogs-home-link {
  margin: 0 0 20px 0; }

#blogs-home-link a {
  color: #473838;
  text-decoration: none;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px; }

#blogs-home-link a:hover {
  color: #ED1B2E;
  text-decoration: none; }

