/* CSS Document */
/* Global */
a.button {
  background: #04a6a6; }

a.button:hover {
  background: #038686; }

/* end */
/* Header */
/* Header Nav */
div#headerContainer div#header div#navigation div#headerNav {
  background: #730f0d; }

div#headerContainer div#header div#navigation div#headerNav ul li a:hover,
div#headerContainer div#header div#navigation div#headerNav ul li a.activeTrail {
  background: #471313; }

/* end */
/* Footer */
div#footer_container div#footer div.footerLeft div.social img {
  margin: 0 0 0 8px; }

div#footer_container div#footer div.footerRight div.newsletter p {
  padding: 0 0 7px; }

div#footer_container div#footer div.footerRight div.newsletter div.signup .input {
  height: 30px; }

div#footer_container div#footer div.footerRight div.newsletter div.signup .submit {
  background: #04a6a6; }

div#footer_container div#footer div.footerRight div.newsletter div.signup .submit:hover {
  background: #038686; }

/* end */

