<div class="custom_columns_1_right" id="main-content" role="main">
	<div class="portlet-layout">
		<div class="portlet-column portlet-column-only" id="column-1">
			<div id="right">
			$processor.processColumn("column-1", "portlet-column-content portlet-column-content-only")
			</div>
		</div>
	</div>
</div>
